<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML><HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-2022-JP">
<LINK REV="made" HREF="mailto:hasegawa@agusa.nuie.nagoya-u.ac.jp">
<TITLE>configuration</TITLE></HEAD><BODY>


<HR><H3>$B@_Dj(B</H3>

plum$B$N@_Dj$O(Bplum.conf$B$H$$$&%U%!%$%k$G9T$$$^$9!#(B
plum.conf$B$G%b%8%e!<%k$NAH$_9~$_4X$9$k@_Dj$H!"(B
$B%b%8%e!<%k$N%W%m%Q%F%#$N@_Dj$r9T$$$^$9!#(B
plum.conf$B$OIaDL$N%F%-%9%H$G!"(B1$B9T$K$D$-(B1$B$D$N@_Dj$r=q$-$^$9!#(B
$B$I$s$J$KD9$/$J$C$F$b!"I,$:(B1$B9T$K=q$$$F2<$5$$!#(B
$B$^$?!V(B#$B!W$G;O$^$k9T$O%3%a%s%H$G$9!#(B

<BR><BR>

$B<B:]$N@_DjNc$H$7$F!"(Bplum-default.conf$B$H$$$&@_Dj%U%!%$%k$,MQ0U$5$l$F$$$^$9!#(B
$B$H$j$"$($:F0$/$+$I$&$+$r3NG'$7$?$$>l9g$O!"$3$N@_Dj%U%!%$%k$r;H$C$F2<$5$$!#(B
$B$3$N@_Dj%U%!%$%k$G$O!"(Bpirc$B$H$[$\F1$8F0:n$r$9$k$h$&$K@_Dj$7$F$"$j$^$9!#(B
plum-default.conf$B$r;H$C$F(Bplum$B$r<B9T$9$k$?$a$K$O!"(B
<PRE>
    perl plum default
</PRE>
$B$N$h$&$K<B9T$7$F2<$5$$!#$3$l$GF0$/$3$H$,3NG'$G$-$?$i!"(B
$B$3$N%U%!%$%k$r>/$7$:$DJQ99$7$F$$$/$N$,$$$$$H;W$$$^$9!#(B


<HR><H3>$B%b%8%e!<%k(B</H3>

$B%b%8%e!<%k$NAH$_9~$_$K4X$9$k@_Dj$K$O0J2<$N$b$N$,$"$j$^$9!#(B

<DL>
<DT>  + dir/module.plm
</DT>
<DD>    dir/module.plm$B$H$$$&%b%8%e!<%k$rAH$_9~$_$^$9!#(B
</DD>
<DT>  = dir/module.plm
</DT>
<DD>    dir/module.plm$B$H$$$&%b%8%e!<%k$rFI$_9~$_$^$9!#(B
        $B%b%8%e!<%k$N=i4|2=$O9T$o$l$^$9$,!"AH$_9~$_$O9T$o$l$^$;$s!#(B
</DD>
<DT>  - dir/module.plm
</DT>
<DD>    $B%b%8%e!<%k$NAH$_9~$_$O9T$$$^$;$s!#(B
</DD>
</DL>

$B%b%8%e!<%k$OA0$K=q$$$F$"$k$b$N$+$i=g$KAH$_9~$^$l$^$9!#(B
$B%b%8%e!<%k$rAH$_9~$`=gHV$K$h$C$F!"B?>/F0:n$,JQ$o$k$N$GCm0U$7$F2<$5$$!#(B
$BF1$8%b%8%e!<%k$K4X$7$F0[$J$C$?@_Dj$r9T$C$?>l9g$O!"(B
$B:G8e$N@_Dj$,M-8z$K$J$j$^$9!#(B


<HR><H3>$B%W%m%Q%F%#(B</H3>

$B%W%m%Q%F%#$N@_Dj$O0J2<$N$h$&$J7A<0$G;XDj$7$^$9!#(B

<DL>
<DT>  dir.module.key: value
</DT>
<DD>    dir/module.plm$B$H$$$&%b%8%e!<%k$N!"(B
        key$B$H$$$&%W%m%Q%F%#$r(Bvalue$B$H$$$&CM$K$7$^$9!#(B
        value$B$K$O?t;z$G$bJ8;zNs$G$b$=$N$^$^;XDj$7$^$9!#(B
</DD>
</DL>

$BF1$8%W%m%Q%F%#$rJ#?t@_Dj$G$-$k$b$N$H$G$-$J$$$b$N$,$"$j$^$9!#(B
$BJ#?t@_Dj$G$-$J$$%W%m%Q%F%#$rJ#?t@_Dj$7$?>l9g$O!"(B
$B:G=i$K@_Dj$7$?$b$N$,M-8z$K$J$j$^$9!#(B


<HR><H3>plum$B$N%W%m%Q%F%#(B</H3>

plum$B<+?H$N%W%m%Q%F%#$K$O0J2<$N$b$N$,$"$j$^$9!#(B
$B3F%b%8%e!<%k$G@_Dj$G$-$k%W%m%Q%F%#$O(B
$B$=$l$>$l$N%b%8%e!<%k$N%I%-%e%a%s%H$r;2>H$7$F2<$5$$!#(B

<DL>
<DT>  plum.kanji* ({jis|euc|sjis})
</DT>
<DD>    plum.conf$B$,$I$N4A;z%3!<%I$G=q$+$l$F$$$k$+$r;XDj$7$^$9!#(B
        plum.conf$B$,(BJIS$B$G=q$+$l$F$$$k$J$i!V(Bjis$B!W!"(B
        EUC$B$G=q$+$l$F$$$k$J$i!V(Beuc$B!W!"(B
        SJIS$B$G=q$+$l$F$$$k$J$i!V(Bsjis$B!W$r$=$l$>$l;XDj$7$F2<$5$$!#(B
        $B$^$?!"!V(Bjis$B!W$OJL$N4A;z%3!<%I$HAH$_9g$o$;$k$3$H$,$G$-!"(B
        $B!V(Bjis,euc$B!W$d!"!V(Bjis,sjis$B!W$H;XDj$9$l$P!"(B
        $B$I$A$i$N4A;z%3!<%I$G=q$+$l$F$$$F$b@5$7$/G'<1$7$^$9!#(B
        plum$B$r(BUNIX$B$G<B9T$9$k$J$i!V(Bjis,euc$B!W!"(B
        Windows$B$d(BMacintosh$B$G<B9T$9$k$J$i!V(Bjis,sjis$B!W$H;XDj$7$F$*$1$P(B
        $B$*$=$i$/LdBj$J$$$H;W$$$^$9!#(B
</DD>
<DT>  plum.nick $B%K%C%/%M!<%`(B
</DT>
<DD>    IRC$B$G$N%K%C%/%M!<%`$r;XDj$7$^$9!#(B
        $B%K%C%/%M!<%`$O(B9$BJ8;z0JFb$G!"%"%k%U%!%Y%C%H!"(B
        $B?t;z$H0lIt$N5-9f$,;HMQ$G$-$^$9!#4A;z$d%+%?%+%J$O;HMQ$G$-$^$;$s!#(B
        $B%G%U%)%k%H$G$O%m%0%$%sL>$r;HMQ$7$^$9!#(B
</DD>
<DT>  plum.user $B%f!<%6L>(B
</DT>
<DD>    $B%K%C%/%M!<%`$H$OJL$K!"<B:]$N%f!<%6L>$r;XDj$7$^$9!#(B
        $BIaDL$O%m%0%$%sL>$r@_Dj$9$k$h$&$K$7$F2<$5$$!#(B
        $B%G%U%)%k%H$G$O%m%0%$%sL>$r;HMQ$7$^$9!#(B
</DD>
<DT>  plum.name $B<BL>(B
</DT>
<DD>    $B%f!<%6$N<BL>$r;XDj$7$^$9!#<+J,$NL>A0$r<+M3$K@_Dj$G$-$^$9!#(B
        $B%K%C%/%M!<%`$d%f!<%6L>$H$O0c$C$F4A;z$J$I$b;HMQ$G$-$^$9!#(B
        $BJ8;z?t$N@)8B$O$"$j$^$;$s$,!"(B
        $BD9$/$F$b(B20$BJ8;zDxEY$K$7$F$*$$$?$[$&$,$$$$$H;W$$$^$9!#(B
</DD>
<DT>  plum.server* $B%5!<%PL>(B[:($B%]!<%HHV9f(B)] [$B%Q%9%o!<%I(B]
</DT>
<DD>    $B@\B3$9$k%5!<%P$r;XDj$7$^$9!#(B
        $B%5!<%PL>$K$O(BIP$B%"%I%l%9$r;XDj$9$k$3$H$b$G$-$^$9!#(B
        $B%]!<%HHV9f$rJ#?t;XDj$7$?>l9g$O!"(B
        $B@\B3$N$?$S$K$=$NCf$N(B1$B$D$,%i%s%@%`$GA*Br$5$l$^$9!#(B
</DD>
<DT>  plum.client* $B%/%i%$%"%s%H%^%9%/(B[:$B%]!<%HHV9f(B] [$B%Q%9%o!<%I(B]
</DT>
<DD>    $B@\B3$r5v2D$9$k%/%i%$%"%s%H$r;XDj$7$^$9!#(B
        $B%/%i%$%"%s%H%^%9%/$K%^%C%A$9$k%^%7%s$+$i$N@\B3$N$_$r5v2D$7$^$9!#(B
        $B%/%i%$%"%s%H%^%9%/$K$O!V(B*$B!W$H!V(B?$B!W$N(B
        2$B<oN`$N%o%$%k%I%+!<%I$,;HMQ$G$-$^$9!#(B
        $B!V(B*$B!W$OG$0U$ND9$5$NJ8;zNs$H%^%C%A$7!"(B
        $B!V(B?$B!W$OG$0U$N0lJ8;z$H%^%C%A$7$^$9!#(B
</DD>
<DT>  plum.directory* $B%G%#%l%/%H%j(B
</DT>
<DD>    $B%b%8%e!<%k$NB8:_$9$k%G%#%l%/%H%j$r;XDj$7$^$9!#(B
        $B$3$3$G;XDj$7$?%G%#%l%/%H%j$O!"%G%U%)%k%H$G%b%8%e!<%k$rC5$9(B
        $B%G%#%l%/%H%j$h$j$bM%@h$5$l$^$9!#(B
</DD>
</DL>

$B%W%m%Q%F%#L>$N:G8e$K!V(B*$B!W$,$D$$$F$$$k$b$N$O!"(B
$BF1$8%W%m%Q%F%#$rJ#?t;XDj$9$k$3$H$,$G$-$^$9!#(B
$B%W%m%Q%F%#L>$K!V(B*$B!W$O4^$^$l$J$$$N$GCm0U$7$F2<$5$$!#(B
$B$^$?!"%W%m%Q%F%#$NCM$N8+J}$O0J2<$N$h$&$K$J$C$F$$$^$9!#(B

<DL>
<DT>  value
</DT>
<DD>    value$B$r$=$N$^$^;XDj$7$^$9!#(B
</DD>
<DT>  $BCM(B
</DT>
<DD>    $B!VCM!W$=$N$b$N$G$O$J$/!"AjEv$9$kCM$r;XDj$7$^$9!#(B
</DD>
<DT>  [value]
</DT>
<DD>    value$B$O>JN,$9$k$3$H$,$G$-$^$9!#(B
</DD>
<DT>  {value1|value2|value3}
</DT>
<DD>    $B!V(B|$B!W$G6h@Z$i$l$?$&$A$N$I$l$+(B1$B$D$r;XDj$7$^$9!#(B
</DD>
<DT>  (value)
</DT>
<DD>    value1,value2,value3$B$N$h$&$K!V(B,$B!W$G6h@Z$C$FJ#?t;XDj$G$-$^$9!#(B
</DD>
</DL>

$B$3$l0J30$N5-9f$O!"6uGr$b4^$a$F$=$N$^$^;XDj$7$F2<$5$$!#(B


<HR><H3>$BF|IU!&;~4V$N%U%)!<%^%C%H(B</H3>

$B%b%8%e!<%k$NCf$K$O%W%m%Q%F%#$KF|IU$d;~4V$N%U%)!<%^%C%H$r(B
$B;XDj$G$-$k$b$N$,$"$j$^$9!#(B
$B$3$l$i$O!V(B%$B!W$H$=$l$KB3$/%"%k%U%!%Y%C%H(B1$BJ8;z$H$$$&7A<0$G;XDj$7!"(B
$B$=$l$>$l0J2<$N$h$&$KE83+$5$l$^$9!#(B

<DL>
<DT>  %%
</DT>
<DD>    $B!V(B%$B!W(B
</DD>
<DT>  %Y
</DT>
<DD>    $BG/(B (1970$B!A(B)
</DD>
<DT>  %y
</DT>
<DD>    $BG/$N2<(B2$B7e(B (00$B!A(B99)
</DD>
<DT>  %m
</DT>
<DD>    $B7n(B (01$B!A(B12)
</DD>
<DT>  %b
</DT>
<DD>    $B7n(B (Jan$B!A(BDec)
</DD>
<DT>  %d
</DT>
<DD>    $BF|(B (01$B!A(B31)
</DD>
<DT>  %j
</DT>
<DD>    $BF|(B (001$B!A(B366)
</DD>
<DT>  %w
</DT>
<DD>    $BMKF|(B (0$B!A(B6)
</DD>
<DT>  %a
</DT>
<DD>    $BMKF|(B (Sun$B!A(BSat)
</DD>
<DT>  %H
</DT>
<DD>    $B;~4V(B (00$B!A(B23)
</DD>
<DT>  %p
</DT>
<DD>    $B8aA0!"8a8e(B (AM,PM)
</DD>
<DT>  %I
</DT>
<DD>    $B;~4V(B (01$B!A(B12)
</DD>
<DT>  %k
</DT>
<DD>    $B;~4V(B ( 0$B!A(B23)
</DD>
<DT>  %l
</DT>
<DD>    $B;~4V(B ( 1$B!A(B12)
</DD>
<DT>  %M
</DT>
<DD>    $BJ,(B (00$B!A(B59)
</DD>
<DT>  %S
</DT>
<DD>    $BIC(B (00$B!A(B61)
</DD>
<DT>  %{+|-}$BIC?t(Bo
</DT>
<DD>    $B;~9o$r;XDj$5$l$?IC?t$@$1?J$a$k(B
</DD>
<DT>  %{+|-}$B;~4V(BO
</DT>
<DD>    $B;~9o$r;XDj$5$l$?;~4V$@$1?J$a$k(B
</DD>
</DL>

<HR><H3>$BJ8;zNsE83+$N%U%)!<%^%C%H(B</H3>

$B%b%8%e!<%k$N$$$/$D$+$K$OJ8;zNs$N%U%)!<%^%C%H$r;XDj$9$k$3$H$,(B
$B$G$-$k$b$N$,$"$j$^$9!#$3$l$i$N%U%)!<%^%C%H$O0J2<$N$h$&$J(B
$B7A<0$G;XDj$7$^$9!#(B

<DL>
<DT>  #(name)
</DT>
<DD>    name$B$GI=$5$l$kCM$GCV$-49$($^$9!#CM$,Dj5A$5$l$F$$$J$1$l$P(B
        $B6uJ8;zNs$GCV$-49$($^$9!#(B
</DD>
<DT>  #(name1|name2)
</DT>
<DD>    name1$B$GI=$5$l$kCM$,Dj5A$5$l$F$$$l$P!"$=$NCM$GCV$-49$($^$9!#(B
        $B$^$?!"(Bname1$B$GI=$5$l$kCM$,Dj5A$5$l$F$*$i$:!"(Bname2$B$GI=$5$l$k(B
        $BCM$,Dj5A$5$l$F$$$l$P!"$=$NCM$GCV$-49$($^$9!#(B
        $B$I$A$i$bDj5A$5$l$F$$$J$1$l$P6uJ8;zNs$GCV$-49$($^$9!#(B
</DD>
<DT>  #(name;%s$B$5$s(B)
</DT>
<DD>    name$B$GI=$5$l$kCM$r!V(B%s$B$5$s!W$H$$$&7A<0$GCV$-49$($^$9!#(B
        $B$3$N7A<0$O(Bprintf$B$GMxMQ$G$-$k$b$N$G$9!#(B
        name$B$GI=$5$l$kCM$,Dj5A$5$l$F$$$J$1$l$P6uJ8;zNs$GCV$-49$($^$9!#(B
</DD>
<DT>  #(name1,name2)
</DT>
<DD>    name1$B$GI=$5$l$kCM$H(Bname2$B$GI=$5$l$kCM$NN>J}$,Dj5A$5$l$F$$$l$P!"(B
        $B$=$l$i$NCM$rJB$Y$?$b$N$GCV$-49$($^$9!#$I$A$i$+JRJ}$G$b(B
        $BDj5A$5$l$F$$$J$1$l$P6uJ8;zNs$GCV$-49$($^$9!#(B
</DD>
<DT>  #(name1;%s$B$5$^(B|name2;%s$B$5$s(B)
</DT>
<DD>    name1$B$GI=$5$l$kCM$,Dj5A$5$l$F$$$l$P!"$=$NCM$r!V(B%s$B$5$^!W$H$$$&(B
        $B7A<0$GCV$-49$($^$9!#(Bname1$B$GI=$9$5$l$kCM$,Dj5A$5$l$F$*$i$:!"(B
        name2$B$GI=$5$l$kCM$,Dj5A$5$l$F$$$l$P!"$=$NCM$r!V(B%s$B$5$s!W$H$$$&(B
        $B7A<0$GCV$-49$($^$9!#$I$A$i$bDj5A$5$l$F$$$J$1$l$P(B
        $B6uJ8;zNs$GCV$-49$($^$9!#(B
</DD>
<DT>  #(name1,name2|name1|name2)
</DT>
<DD>    name1$B$GI=$5$l$kCM$H(Bname2$B$GI=$5$l$kCM$NN>J}$,Dj5A$5$l$F$$$l$P!"(B
        $B$=$l$i$NCM$rJB$Y$?$b$N$GCV$-49$($^$9!#$^$?!"(Bname1$B$GI=$5$l$k(B
        $BCM$+(Bname2$B$GI=$5$l$kCM$N$I$A$i$+$,Dj5A$5$l$F$$$l$P$=$NCM$G(B
        $BCV$-49$($^$9!#$I$A$i$bDj5A$5$l$F$$$J$1$l$P6uJ8;zNs$GCV$-49$($^$9!#(B
</DD>
<DT>  #(name1,name2;%s$B$N(B%s$B$5$s(B)
</DT>
<DD>    name1$B$GI=$5$l$kCM$H(Bname2$B$GI=$5$l$kCM$NN>J}$,Dj5A$5$l$F$$$l$P!"(B
        $B$=$l$i$NCM$r!V(B%s$B$N(B%s$B$5$s!W$H$$$&7A<0$GCV$-49$($^$9!#(B
        $B$I$A$i$+JRJ}$G$bDj5A$5$l$F$$$J$1$l$P!"6uJ8;zNs$GCV$-49$($^$9!#(B
</DD>
<DT>  #(name1,name2;%s$B$N(B%s$B$5$s(B|name2;%s$B$5$s(B)
</DT>
<DD>    name1$B$GI=$5$l$kCM$H(Bname2$B$GI=$5$l$kCM$NN>J}$,Dj5A$5$l$F$$$l$P!"(B
        $B$=$l$i$NCM$r!V(B%s$B$N(B%s$B$5$s!W$H$$$&7A<0$GCV$-49$($^$9!#(B
        name2$B$GI=$5$l$kCM$@$1$,Dj5A$5$l$F$$$l$P!"$=$NCM$r!V(B%s$B$5$s!W$H$$$&(B
        $B7A<0$GCV$-49$($^$9!#$=$l0J30$N>l9g$O6uJ8;zNs$GCV$-49$($^$9!#(B
</DD>
<DT>  #(name|;$BL>A0ITL@(B)
</DT>
<DD>    name$B$GI=$5$l$kCM$,Dj5A$5$l$F$$$l$P$=$NCM$GCV$-49$($^$9!#(B
        $BDj5A$5$l$F$$$J$1$l$P!"!VL>A0ITL@!W$GCV$-49$($i$l$^$9!#(B
</DD>
</DL>

</BODY></HTML>
