<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML><HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-2022-JP">
<LINK REV="made" HREF="mailto:hasegawa@agusa.nuie.nagoya-u.ac.jp">
<TITLE>history</TITLE></HEAD><BODY>


<HR><H3>$B%P!<%8%g%s(B</H3>

plum$B$N%P!<%8%g%s$O(B3$B$D$N?t;z$GI=$5$l$F$$$^$9!#(B
$B$3$l$i$N?t;z$O$=$l$>$l!"(Bplum$B$N%P!<%8%g%s!"(B
plum$B$N%j%S%8%g%s$H%Q%C%1!<%8$N%j%S%8%g%s$rI=$7$F$$$^$9!#(B
$BNc$($P!"!V(B2.1.1$B!W$H$$$&$N$O(B2$BHVL\$K=P$?(Bplum$B$N:G=i$NHG$G!"(B
$B:G=i$N%Q%C%1!<%8$H$$$&$3$H$K$J$j$^$9!#(B


<HR><H3>$BJQ99MzNr(B</H3>

<H4>2.33.1</H4><DL>

<DT>  plum
</DT>
<DD>    Perl4$B$G(BCTCP$B$r@5$7$/=hM}$G$-$J$+$C$?%P%0$r=$@5(B
</DD>
<DT>  channel/mode/set.plm
</DT>
<DD>    $B%A%c%s%M%k$K<+J,$,F~$C$F$$$k$+$I$&$+3NG'$9$k$h$&$K$7$?!#(B
</DD>
</DL>

<H4>2.32.1</H4><DL>

<DT>  plum
</DT>
<DD>    'array$B$N5sF0$,$*$+$7$+$C$?$N$r=$@5(B
<BR>    module_enable$B!"(Bmodule_diasble$B$N%?%$%_%s%0$rJQ99(B
<BR>    'build$B$NF0:n$rJQ99(B
<BR>    /exit$B;~$K(Bmodule_disable$B$r<B9T$9$k$h$&$K$7$?(B
<BR>    'timelocal$B$,@5$7$/$J$$CM$rJV$9$3$H$,$"$C$?$N$r=$@5(B
</DD>
<DT>  auto/alias.plm
</DT>
<DD>    $B4A;z%3!<%I$r;XDj$7$?$H$-$K$*$+$7$/$J$k$3$H$,$"$C$?$N$r=$@5(B
</DD>
<DT>  auto/cache.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    from.nick.now$B$,<u$1<h$k?M$N%K%C%/%M!<%`$K$J$C$F$$$?$N$r=$@5(B
</DD>
<DT>  auto/nako.plm
</DT>
<DD>    nako 1.59 with all patches$BAjEv$KJQ99(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    from.nick.now$B$,<u$1<h$k?M$N%K%C%/%M!<%`$K$J$C$F$$$?$N$r=$@5(B
</DD>
<DT>  ctcp/dcc/gate.plm
</DT>
<DD>    QUIT$B%a%C%;!<%8$N7k2L$rJV$7$F$$$J$+$C$?$N$r=$@5(B
</DD>
<DT>  sys/module/update.plm
</DT>
<DD>    $B6u$N%a%C%;!<%8$rAw$k$3$H$,$"$C$?$N$r=$@5(B
</DD>
<DT>  sys/multicast.plm
</DT>
<DD>    $B%b%8%e!<%k$r30$7$?$H$-$NF0:n$rJQ99(B
</DD>
<DT>  sys/web.plm
</DT>
<DD>    $B0lIt$N%a%C%;!<%8$N=PNO@h$rJQ99(B
</DD>
</DL>

<H4>2.31.1</H4><DL>

<DT>  plum
</DT>
<DD>    'format$B%5%V%k!<%A%s$rDI2C(B
<BR>    'channel$B%5%V%k!<%A%s$rDI2C(B
<BR>    'timelocal$B%5%V%k!<%A%s$rDI2C(B
<BR>    'date$B$N%U%)!<%^%C%H$K%*%U%;%C%H$r;XDj$G$-$k$h$&$K$7$?(B
<BR>    $B%/%i%$%"%s%H$+$i$N(BPONG$B$r%5!<%P$KAw$i$J$$$h$&$K$7$?(B
<BR>    jis$B$G$N@55,I=8=$N%^%C%A%s%0$r%F%9%H$9$k$N$r$d$a$?(B
</DD>
<DT>  auto/alias.plm
</DT>
<DD>    private$B!"(Binvisible$B!"(Breadonly$B!"(Bscalar$B%W%m%Q%F%#$rDI2C(B
</DD>
<DT>  auto/answer.plm
</DT>
<DD>    plum$B$N(B'format$B$rMxMQ$9$k$h$&$K$7$?(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    plum$B$N(B'format$B$rMxMQ$9$k$h$&$K$7$?(B
<BR>    check$B%W%m%Q%F%#$H(Bexists$B%W%m%Q%F%#$rDI2C(B
<BR>    $B%a%C%;!<%8$rAw$k$3$H$,$G$-$J$$$3$H$,$"$C$?$N$r=$@5(B
<BR>    format$B%W%m%Q%F%#$rJ#?t9T;XDj$G$-$k$h$&$K$7$?(B
<BR>    $B4A;z%3!<%I$r;XDj$7$?$H$-$K%U%!%$%k$,@5$7$/:n@.$5$l$J$+$C$?$N$r=$@5(B
</DD>
<DT>  auto/oper.plm
</DT>
<DD>    plum$B$N(B'format$B$rMxMQ$9$k$h$&$K$7$?(B
<BR>    request$B%W%m%Q%F%#$G!V(B*$B!W$H!V(B?$B!W$,;H$($k$h$&$K$7$?(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    plum$B$N(B'format$B$rMxMQ$9$k$h$&$K$7$?(B
<BR>    check$B%W%m%Q%F%#$H(Bexists$B%W%m%Q%F%#$rDI2C(B
<BR>    $B%U%!%$%k$rAw$k$3$H$,$G$-$J$$$3$H$,$"$C$?$N$r=$@5(B
<BR>    format$B%W%m%Q%F%#$rJ#?t9T;XDj$G$-$k$h$&$K$7$?(B
<BR>    $B4A;z%3!<%I$r;XDj$7$?$H$-$K%U%!%$%k$,@5$7$/:n@.$5$l$J$+$C$?$N$r=$@5(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    plum$B$N(B'format$B$rMxMQ$9$k$h$&$K$7$?(B
<BR>    format$B%W%m%Q%F%#$rJ#?t9T;XDj$G$-$k$h$&$K$7$?(B
<BR>    request$B%W%m%Q%F%#$G!V(B*$B!W$H!V(B?$B!W$,;H$($k$h$&$K$7$?(B
</DD>
<DT>  auto/reply.plm
</DT>
<DD>    plum$B$N(B'format$B$rMxMQ$9$k$h$&$K$7$?(B
<BR>    format$B%W%m%Q%F%#$rJ#?t9T;XDj$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/response.plm
</DT>
<DD>    plum$B$N(B'format$B$rMxMQ$9$k$h$&$K$7$?(B
<BR>    format$B%W%m%Q%F%#$rJ#?t9T;XDj$G$-$k$h$&$K$7$?(B
</DD>
<DT>  channel/filter.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  channel/join/kick.plm
</DT>
<DD>    JOIN$B;~$K;XDj$7$?%-!<$rJ]B8$9$k$h$&$K$7$?(B
</DD>
<DT>  ctcp/dcc/send.plm
</DT>
<DD>    $B%U%!%$%k$,Aw$l$J$$$3$H$,$"$C$?$N$r=$@5(B
</DD>
<DT>  ctcp/echo.plm
</DT>
<DD>    $B0z?t$,;XDj$5$l$F$$$k$+%A%'%C%/$9$k$h$&$K$7$?(B
</DD>
<DT>  ctcp/part.plm
</DT>
<DD>    $B%A%c%s%M%kL>$,;XDj$5$l$F$$$k$+%A%'%C%/$9$k$h$&$K$7$?(B
</DD>
<DT>  ctcp/ping.plm
</DT>
<DD>    $B0z?t$,;XDj$5$l$F$$$k$+%A%'%C%/$9$k$h$&$K$7$?(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    offset$B%W%m%Q%F%#$rGQ;_(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    offset$B%W%m%Q%F%#$rGQ;_(B
</DD>
<DT>  log/mail.plm
</DT>
<DD>    offset$B%W%m%Q%F%#$rGQ;_(B
</DD>
<DT>  sys/timer.plm
</DT>
<DD>    $B%3%^%s%I$K4^$^$l$kF|IU$rE83+$9$k$h$&$K$7$?(B
</DD>
</DL>

<H4>2.30.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B@5$7$/@55,I=8=$,07$($k4A;z%3!<%I$r%A%'%C%/$9$k$h$&$K$7$?(B
<BR>    'regex$B$,!V(B[$B!W$H!V(B{$B!W$J$I$rF10l;k$9$k$h$&$K$7$F$$$?$N$r$d$a$?(B
<BR>    delete$B$r1i;;;R$H$7$F<B9T$9$k$h$&$K$7$?(B
<BR>    eval$B$N0z?t$H$7$F%V%m%C%/$rM?$($F$$$?$N$h$d$a$?(B
<BR>    getprotobyname$B$rG[Ns%3%s%F%-%9%H$G<B9T$9$k$h$&$K$7$?(B
<BR>    module_enable$B$H(Bmodule_disable$B$N%$%Y%s%H$rDI2C$7$?(B
<BR>    $B%j%9%H$NFbItI=8=$rJQ99$7$?(B
<BR>    directory$B%W%m%Q%F%#$rDI2C(B
<BR>    $B@_Dj%U%!%$%k$NL>A0$r(B$'filename[]$B$K3JG<$9$k$h$&$K$7$?!#(B
<BR>    $B%b%8%e!<%k$N%G%#%l%/%H%j$r(B$'directory{}$B$K3JG<$9$k$h$&$K$7$?(B
<BR>    CTCP$B%a%C%;!<%8$NJQ99$,$G$-$J$+$C$?%P%0$r=$@5(B
</DD>
<DT>  auto/response.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  ctcp/dcc/nat.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  auto/answer.plm
</DT>
<DD>    $B%a%C%;!<%8$N%U%)!<%^%C%H$r;XDj$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $B%U%!%$%k$N%U%)!<%^%C%H$rJQ99$7$?(B
<BR>    $B%a%C%;!<%8$N%U%)!<%^%C%H$r;XDj$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/oper.plm
</DT>
<DD>    $B%a%C%;!<%8$N%U%)!<%^%C%H$r;XDj$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    $B%U%!%$%k$N%U%)!<%^%C%H$rJQ99$7$?(B
<BR>    $B%a%C%;!<%8$N%U%)!<%^%C%H$r;XDj$G$-$k$h$&$K$7$?(B
<BR>    DCC$B$NE>Aw$K<:GT$7$?$H$-$K%U%!%$%k$,>C$($k$3$H$,$"$C$?$N$r=$@5(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    $B%a%C%;!<%8$N%U%)!<%^%C%H$r;XDj$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/reply.plm
</DT>
<DD>    $B%a%C%;!<%8$N%U%)!<%^%C%H$r;XDj$G$-$k$h$&$K$7$?(B
<BR>    $B%^%C%A%s%0;~$NBgJ8;z>.J8;z$r6hJL$7$J$$$h$&$K$7$?(B
</DD>
<DT>  channel/join/connect.plm
</DT>
<DD>    $B%-!<$,@_Dj$5$l$F$$$k%A%c%s%M%k$KF~$k$3$H$,$G$-$k$h$&$K$7$?(B
</DD>
<DT>  channel/join/kick.plm
</DT>
<DD>    $B%-!<$,@_Dj$5$l$F$$$k%A%c%s%M%k$KF~$k$3$H$,$G$-$k$h$&$K$7$?(B
</DD>
<DT>  ctcp/dcc/gate.plm
</DT>
<DD>    $BAw?.;~$K@5$7$/Cf7Q$G$-$J$$$3$H$,$"$C$?$N$r=$@5(B
<BR>    known$B%W%m%Q%F%#$rDI2C(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    $B$$$D$G$b%b%8%e!<%k$rMxMQ$r3+;O$G$-$k$h$&$K$7$?(B
</DD>
<DT>  sys/multicast.plm
</DT>
<DD>    $B$$$D$G$b%b%8%e!<%k$rMxMQ$r3+;O$G$-$k$h$&$K$7$?(B
</DD>
<DT>  sys/web.plm
</DT>
<DD>    $B%Q%9%o!<%I$J$7$N@\B3$,$G$-$k$h$&$K$7$?(B
<BR>    $B%5!<%P$+$i@ZCG$5$l$?;~$b%]!<%H$rJD$8$J$$$h$&$K$7$?(B
<BR>    $B$$$D$G$b%b%8%e!<%k$rMxMQ$r3+;O$G$-$k$h$&$K$7$?(B
</DD>
</DL>

<H4>2.29.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B@ZCG;~$K%A%c%s%M%k%b!<%I$r%/%j%"$7$F$$$J$+$C$?$N$r=$@5(B
<BR>    $B@ZCG;~$K%H%T%C%/$r%/%j%"$7$F$$$J$+$C$?$N$r=$@5(B
<BR>    $'usermode{$B%U%!%$%k(BNO, $B%b!<%I(B}$B$r:n@.$7$?(B
<BR>    $B%A%c%s%M%k%b!<%I(Be$B!"(BI$B!"(BO$B$KBP1~$7$?(B
<BR>    $B%5!<%P$N%]!<%HHV9f$rJ#?t;XDj$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/answer.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
<BR>    $B%a%C%;!<%8$rJ#?tH/8@$G$-$k$h$&$K$7$?(B
<BR>    $B%5!<%P$+$i@ZCG$5$l$?$H$-$KDLCN;~9o$r=i4|2=$9$k$h$&$K$7$?(B
</DD>
<DT>  auto/nako.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
<BR>    $B!V$5$s!W$r!V(B\xA4\xB5\xA4\xF3$B!W$K=q$-$+$($?(B
</DD>
<DT>  auto/oper.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
<BR>    $B%a%C%;!<%8$rJ#?tH/8@$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
<BR>    $B4A;z%3!<%I$NJQ49$,@5$7$/9T$($F$$$J$+$C$?$N$r=$@5(B
<BR>    $B%a%C%;!<%8$rJ#?tH/8@$G$-$k$h$&$K$7$?(B
<BR>    $B%5!<%P$+$i@ZCG$5$l$?$H$-$KDLCN;~9o$r=i4|2=$9$k$h$&$K$7$?(B
<BR>    'sockname$B%5%V%k!<%A%s$r;HMQ$9$k$h$&$KJQ99(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  auto/reply.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  channel/join/invite.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  channel/join/kick.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  channel/mode/oper/set.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
<BR>    $B%A%c%s%M%k%b!<%I(Be$B!"(BI$B!"(BO$B$KBP1~$7$?(B
</DD>
<DT>  ctcp/part.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  ctcp/dcc/gate.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
<BR>    'sockname$B%5%V%k!<%A%s$r;HMQ$9$k$h$&$KJQ99(B
</DD>
<DT>  ctcp/dcc/get.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  ctcp/dcc/http.plm
</DT>
<DD>    $B%(%s%P%0$7$F$$$?$N$r=$@5(B
<BR>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
<BR>    'sockname$B%5%V%k!<%A%s$r;HMQ$9$k$h$&$KJQ99(B
</DD>
<DT>  ctcp/dcc/send.plm
</DT>
<DD>    'sockname$B%5%V%k!<%A%s$r;HMQ$9$k$h$&$KJQ99(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    offset$B%W%m%Q%F%#$rDI2C(B
<BR>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    offset$B%W%m%Q%F%#$rDI2C(B
<BR>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  log/mail.plm
</DT>
<DD>    offset$B%W%m%Q%F%#$rDI2C(B
</DD>
<DT>  log/recent.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  sys/multicast.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
<DT>  sys/web.plm
</DT>
<DD>    $B%5!<%P$K:F@\B3$7$?;~$NF0:n$,$*$+$7$+$C$?$N$r=$@5(B
<BR>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
<BR>    RPL_LIST$B$H(BRPL_INVITING$B$N=hM}$,5U$K$J$C$F$$$?$N$r=$@5(B
<BR>    kanji$B%W%m%Q%F%#$rDI2C(B
<BR>    $B%U%l!<%`$NG[CV$rJQ99$7$?(B
<BR>    $B%a%C%;!<%8$NJ]B8$r%5!<%P$4$H$G$O$J$/@_Dj$4$H$K$7$?(B
</DD>
<DT>  user/ignore.plm
</DT>
<DD>    !$B$G;O$^$k%A%c%s%M%kL>$r@5$7$/07$($k$h$&$K$7$?(B
</DL>

<H4>2.28.2</H4><DL>

<DT>  auto/message.plm
</DT>
<DD>    $B%(%$%j%"%9$KEPO?$5$l$F$$$J$$$H$-$K%I%a%$%sL>$,=P$k%P%0$r=$@5(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    $B%(%$%j%"%9$KEPO?$5$l$F$$$J$$$H$-$K%I%a%$%sL>$,=P$k%P%0$r=$@5(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    $B%(%$%j%"%9$KEPO?$5$l$F$$$J$$$H$-$K%I%a%$%sL>$,=P$k%P%0$r=$@5(B
</DD>
<DT>  sys/web.plm
</DT>
<DD>    POST$B%a%=%C%I$r;HMQ$G$-$k$h$&$K$7$?(B
<BR>    $B%5!<%P@ZCG;~$K%]!<%H$rJD$8$F$$$J$+$C$?%P%0$r=$@5(B
</DD>
</DL>

<H4>2.28.1</H4><DL>

<DT>  plum
</DT>
<DD>    'sockname$B$H(B'peername$B$H$$$&%5%V%k!<%A%s$rDI2C$7$?(B
<BR>    $SOCKADDR$B$NCM$rJQ99$7$?(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $B%K%C%/%M!<%`$,JQ99$5$l$?$H$-$N=hM}$,$*$+$7$+$C$?$N$r=$@5(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    $B%K%C%/%M!<%`$,JQ99$5$l$?$H$-$N=hM}$,$*$+$7$+$C$?$N$r=$@5(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    rate$B$N%G%U%)%k%H$r(B100$B$K$7$?(B
</DD>
<DT>  auto/reply.plm
</DT>
<DD>    $B%U%!%$%kCf$N6u9T$OL5;k$9$k$h$&$K$7$?(B
</DD>
<DT>  ctcp/dcc/http.plm
</DT>
<DD>    $B@ZCG;~$K4X78$J$$%3%M%/%7%g%s$^$G@ZCG$7$F$7$^$&$3$H$,$"$C$?$N$r=$@5(B
</DD>
<DT>  ctcp/finger.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  sys/multicast.plm
</DT>
<DD>    ISON/USERHOST/OPER/VERSION$B%3%^%s%I$r;H$($k$h$&$K$7$?(B
</DD>
<DT>  sys/timer.plm
</DT>
<DD>    $BF1$8%?%$%_%s%0$G(B2$B$D0J>e$N=hM}$,9T$($J$+$C$?$N$r=$@5(B
</DD>
<DT>  sys/web.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.27.1</H4><DL>

<DT>  plum
</DT>
<DD>    SO_KEEPALIVE$B$r@_Dj$7$J$$$h$&$K$7$?(B
<BR>    $B%/%i%$%"%s%H$N%^%9%/$r(BIP$B%"%I%l%9$G;XDj$G$-$k$h$&$K$7$?(B
<BR>    JISX0212$B$KBP1~$7$?(B
</DD>
<DT>  user/idle.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $BE~CeDLCN$r9T$&%?%$%_%s%0$rJQ99(B
<BR>    $B%(%$%j%"%9$N%^%C%A%s%0$,@5$7$/$G$-$F$$$J$+$C$?$N$r=$@5(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    $BE~CeDLCN$r9T$&%?%$%_%s%0$rJQ99(B
<BR>    $B%(%$%j%"%9$N%^%C%A%s%0$,@5$7$/$G$-$F$$$J$+$C$?$N$r=$@5(B
<BR>    $B%U%!%$%k$,B8:_$7$?$H$-$K$D$1$k%U%!%$%kL>$,$*$+$7$+$C$?$N$r=$@5(B
</DD>
<DT>  ctcp/dcc/get.plm
</DT>
<DD>    $B%U%!%$%k$,B8:_$7$?$H$-$K$D$1$k%U%!%$%kL>$,$*$+$7$+$C$?$N$r=$@5(B
</DD>
<DT>  channel/mode/set.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.26.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B<+J,<+?H$N%f!<%6>pJs$rJ];}$9$k$h$&$K$7$?(B
<BR>    $BF~$C$F$$$J$$%A%c%s%M%k$N(BNAMES$B$OL5;k$9$k$h$&$K$7$?(B
<BR>    $B%7%0%J%k%O%s%I%i$N@_DjJ}K!$rJQ99(B
</DD>
<DT>  channel/alias.plm
</DT>
<DD>    INVITE$B0J30$,@5$7$/JQ49$G$-$F$$$J$+$C$?$N$r=$@5(B
</DD>
<DT>  channel/mode/oper/get.plm
</DT>
<DD>    $B%5!<%P4V$N(Bsplit$B;~$K$b%A%c%s%M%k$+$iH4$1$F$7$^$3$H$,$"$C$?$N$r=$@5(B
</DD>
<DT>  ctcp/version.plm
</DT>
<DD>    $B%a%C%;!<%8$N%U%)!<%^%C%H$rJQ99(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    KICK$B$7$?$H$-$K$*$+$7$/$J$C$F$$$?$N$r=$@5(B
<BR>    $BJ#?t$N%A%c%s%M%k$KH/8@$7$?$H$-$N%U%)!<%^%C%H$rJQ99(B
<BR>    $B<+J,08$N%a%C%;!<%8$N$_$rJ]B8$9$k$3$H$,$G$-$k$h$&$K$7$?(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    $BJ#?t$N%A%c%s%M%k$KH/8@$7$?$H$-$N%U%)!<%^%C%H$rJQ99(B
</DD>
<DT>  log/recent.plm
</DT>
<DD>    $BJ#?t$N%A%c%s%M%k$KH/8@$7$?$H$-$N%U%)!<%^%C%H$rJQ99(B
</DD>
<DT>  auto/nako.plm
</DT>
<DD>    nako1.56+a3r1$BAjEv$KJQ99(B
<BR>    $B%7%9%F%`@_Dj%U%!%$%k$r$=$N$^$^;HMQ$G$-$k$h$&$KJQ99(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    DCC$BAw?.$K<:GT$9$k$3$H$,$"$C$?$N$r=$@5(B
<BR>    $BF1;~$KF1$8?M$+$i$N<u?.MW5a$,$"$k$HJRJ}$,<:GT$7$F$$$?$N$r=$@5(B
<BR>    $B%?%$%`%"%&%H=hM}$,@5$7$/F0:n$7$F$$$J$+$C$?$N$r=$@5(B
</DD>
<DT>  ctcp/dcc/send.plm
</DT>
<DD>    DCC$BAw?.$K<:GT$9$k$3$H$,$"$C$?$N$r=$@5(B
<BR>    $B%?%$%`%"%&%H=hM}$,@5$7$/F0:n$7$F$$$J$+$C$?$N$r=$@5(B
</DD>
<DT>  sys/multicast.plm
</DT>
<DD>    $B0lIt$G%K%C%/%M!<%`$NIT@09g$,5/$3$C$F$$$?$N$r=$@5(B
<BR>    $BFCDj$N@_Dj$G$N%K%C%/%M!<%`$rJQ99$G$-$k$h$&$K$7$?(B
<BR>    $B%K%C%/%M!<%`JQ99$,@5$7$/%/%i%$%"%s%H$KAw$i$l$F$$$J$+$C$?$N$r=$@5(B
</DD>
</DL>

<H4>2.25.1</H4><DL>

<DT>  plum
</DT>
<DD>    SIGHUP$B$H(BSIGPIPE$B$rL5;k$9$k$h$&$K$7$?(B
<BR>    's_flush$B$H(B'c_flush$B$N=hM}$rJQ99(B
<BR>    $B;H$o$l$J$/$J$C$?JQ?t$r=i4|2=$9$k$h$&$K$7$?(B
<BR>    'date$B$K;~4V$r;XDj$G$-$k$h$&$K$7$?(B
<BR>    $B%K%C%/%M!<%`$,;H$o$l$F$$$?$H$-$NF0:n$,$*$+$7$+$C$?$N$r=$@5(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    $B%b!<%IIU$-$G(BJOIN$B$7$F$-$?>l9g$K@5$7$/F0:n$7$J$+$C$?$N$r=$@5(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    $B%U%!%$%kL>$NE83+$,$*$+$7$+$C$?$N$r=$@5(B
</DD>
<DT>  log/mail.plm
</DT>
<DD>    RFC$B$K=>$C$F$$$J$+$C$?$H$3$m$,$"$C$?$N$r=$@5(B
<BR>    directory$B%W%m%Q%F%#$rDI2C(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    $B%?%$%`%"%&%H=hM}$rDI2C(B
<BR>    $BF1;~$KF1$8?M$+$i$O<u$1$H$i$J$$$h$&$K$7$?(B
</DD>
<DT>  channel/alias.plm
</DT>
<DD>    $BJ#?t$N%A%c%s%M%k$r;XDj$7$?$H$-$K@5$7$/F0:n$7$F$$$J$+$C$?$N$r=$@5(B
</DD>
<DT>  ctcp/dcc/get.plm
</DT>
<DD>    $B%?%$%`%"%&%H=hM}$rDI2C(B
</DD>
<DT>  ctcp/dcc/gate.plm
</DT>
<DD>    $B%?%$%`%"%&%H=hM}$rDI2C(B
</DD>
<DT>  ctcp/dcc/http.plm
</DT>
<DD>    $B%?%$%`%"%&%H=hM}$rDI2C(B
</DD>
<DT>  user/nick/client.plm
</DT>
<DD>    $B$9$Y$F$N%K%C%/%M!<%`$,;H$o$l$F$$$?$H$-$K!"$=$l0J>eJQ99$7$J$$$h$&$K$7$?(B
</DD>
<DT>  ctcp/dcc/send.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  sys/multicast.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.24.3</H4><DL>

<DT>  auto/alias.plm
</DT>
<DD>    kanji$B%W%m%Q%F%#$r:o=|(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    DCC$B%j%/%(%9%H$r%/%i%$%"%s%H$KAw$k$h$&$K$7$?(B
<BR>    kanji$B%W%m%Q%F%#$r:o=|(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    kanji$B%W%m%Q%F%#$r:o=|(B
</DD>
<DT>  auto/nako.plm
</DT>
<DD>    kanji$B%W%m%Q%F%#$r:o=|(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    $BC/$KBP$9$k%a%C%;!<%8$+$rI=<($9$k$h$&$K$7$?(B
<BR>    kanji$B%W%m%Q%F%#$r:o=|(B
</DD>
<DT>  auto/reply.plm
</DT>
<DD>    $B0l$D$NH/8@$KJ#?t2sH?1~$9$k$3$H$,$"$C$?$N$rD>$7$?(B
<BR>    kanji$B%W%m%Q%F%#$r:o=|(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    EUC$B$GH/8@$7$?%a%C%;!<%8$r%-%c%C%7%e$7$J$$%P%0$r=$@5(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    QUIT$B$,5-O?$5$l$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    kanji$B%W%m%Q%F%#$r:o=|(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    kanji$B%W%m%Q%F%#$r:o=|(B
</DD>
<DT>  ctcp/dcc/client.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  log/mail.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.24.2</H4><DL>

<DT>  auto/reply.plm
</DT>
<DD>    $B%U%!%$%k$N%U%)!<%^%C%H$rJQ99$7$?(B 
</DD>
</DL>


<H4>2.24.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B4A;zJQ49%k!<%A%s$,$*$+$7$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/reply.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  auto/oper.plm
</DT>
<DD>    $B%f!<%6%^%9%/$r;XDj$9$k$3$H$,$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    $B%U%!%$%k$X$N=q$-9~$_$,$G$-$k$h$&$K$7$?(B
<BR>    $BH?1~$9$k3NN($r;XDj$G$-$k$h$&$K$7$?(B
</DD>
</DL>

<H4>2.23.2</H4><DL>

<DT>  ctcp/dcc/http.plm
</DT>
<DD>    $B0lEYAw<u?.$K<:GT$9$k$H$=$l0J9_<:GT$7$F$$$?$N$r=$@5(B
</DD>
<DT>  auto/alias.plm
</DT>
<DD>    $B?7$7$/%(%$%j%"%9$r:n@.$7$?$H$-$K%K%C%/%M!<%`$,$*$+$7$/$J$k$N$r=$@5(B
</DD>
</DL>

<H4>2.23.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B4A;zJQ49%k!<%A%s$r>/$79bB.2=(B
<BR>    listen$B$7$?$H$-$N;~4V$r5-O?$7$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/nako.plm
</DT>
<DD>    JOIN$B$7$?$H$-$N=hM}$,$*$+$7$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    $B%W%i%$%Y!<%H$GAw$C$?%a%C%;!<%8$K@5$7$/H?1~$7$F$$$J$+$C$?$N$r=$@5(B
<BR>    $BJL$N%f!<%6$N$b$N$+$I$&$+$r%A%'%C%/$9$k$h$&$K$7$?(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    $B%-%c%C%7%e$N%(%_%e%l!<%H$,$*$+$7$+$C$?$N$r=$@5(B
<BR>    $B%?%$%^!<$N=hM}$,$*$+$7$+$C$?$N$r=$@5(B
</DD>
<DT>  ctcp/dcc/get.plm
</DT>
<DD>    $B%;%-%e%j%F%#%[!<%k$,$"$C$?$N$G=$@5(B
<BR>    $BJL$N%f!<%6$N$b$N$+$I$&$+$r%A%'%C%/$9$k$h$&$K$7$?(B
</DD>
<DT>  ctcp/dcc/gate.plm
</DT>
<DD>    $B%W%m%Q%F%#$r$A$c$s$H8+$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    $B%/%i%$%"%s%H$+$iAw$i$l$?(BDCC$B$NCf7Q$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $B%^%9%/$r@5$7$/=hM}$7$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  ctcp/dcc/http.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.22.2</H4><DL>

<DT>  log/channel.plm
</DT>
<DD>    $B%W%i%$%Y!<%H$GAw$C$?%a%C%;!<%8$,$*$+$7$/$J$C$F$$$?$N$r=$@5(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    $B%W%i%$%Y!<%H$GAw$C$?%a%C%;!<%8$,$*$+$7$/$J$C$F$$$?$N$r=$@5(B
</DD>
<DT>  channel/mode/get.plm
</DT>
<DD>    $B%5!<%P4V$N(Bsplit$B$G(BQUIT$B$7$?>l9g$K$O2?$b$7$J$$$h$&$K$7$?(B
</DD>
<DT>  channel/mode/set.plm
</DT>
<DD>    $B$9$G$K%*%Z%l!<%?$K$J$C$F$$$J$$$+3NG'$9$k$h$&$K$7$?(B
</DD>
</DL>

<H4>2.22.1</H4><DL>

<DT>  plum
</DT>
<DD>    CTCP$B%a%C%;!<%8$N%A%'%C%/$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $B4A;z%3!<%I$NJQ49=hM}$rJQ99(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $B%W%i%$%Y!<%H$GAw$C$F$-$?%a%C%;!<%8$K@5$7$/JV;v$r$9$k$h$&$K$7$?(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    $B%b%8%e!<%k$rF0E*$K%"%C%W%G!<%H$7$F$b@5$7$/F0$/$h$&$K$7$?(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    $B4X78$J$$%m%0$,J]B8$5$l$F$$$?$N$r=$@5(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    $B%W%i%$%Y!<%H$J%a%C%;!<%8$N%U%)!<%^%C%H$rJQ99(B
</DD>
</DL>

<H4>2.21.2</H4><DL>

<DT>  auto/package.plm
</DT>
<DD>    DCC$B$r@5$7$/Aw?.$G$-$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  ctcp/dcc/get.plm
</DT>
<DD>    $BF10l$N%U%!%$%kL>$,B8:_$7$?$H$-$NJQ995,B'$,$*$+$7$+$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.21.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B%5!<%PL>$r@5$7$/<hF@$G$-$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    $B%/%i%$%"%s%H$N@\B3$rJD$8$?$H$-$KMn$A$k$3$H$,$"$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $BH/8@@h$,$*$+$7$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    $BH/8@@h$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $B>.$5$J%U%!%$%k$,Aw$l$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  channel/join/invite.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
<DT>  channel/join/kick.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
<DT>  channel/mode/oper/set.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
<DT>  ctcp/dcc/gate.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
<DT>  ctcp/dcc/get.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
<DT>  ctcp/part.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
<DT>  log/recent.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
<DT>  user/ignore.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJQ99(B
</DD>
</DL>

<H4>2.20.3</H4><DL>

<DT>  auto/yuurii.plm
</DT>
<DD>    jcode'convert$B$r<BAu(B
</DD>
<DT>  ctcp/dcc/get.plm
</DT>
<DD>    $B%/%i%$%"%s%H$KAw$k(BCTCP$B$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $B%U%!%$%k$NB8:_3NG'$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $BF10l$N%U%!%$%kL>$,B8:_$7$?$H$-$N%U%!%$%kL>$NJQ995,B'$rJQ99$7$?(B
</DD>
<DT>  channel/mode/oper/set.plm
</DT>
<DD>    $B%5!<%P$H@ZCG$7$?$H$-$N=hM}$,$*$+$7$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/alias.plm
</DT>
<DD>    nick$B!"(Buser$B!"(Bname$B0J30$N9`L\$b;HMQ$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $B%(%$%j%"%9$N;EMMJQ99$K$"$o$;$FJQ99$7$?(B
</DD>
<DT>  server/info.plm
</DT>
<DD>    $B%a%C%;!<%8$,$H$3$m$I$3$mH4$1$k$3$H$,$"$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/package.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    $B6u$N(Bprivmsg$B!"(Bnotice$B$rL5;k$9$k$h$&$K$7$?(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    $B6u$N(Bprivmsg$B!"(Bnotice$B$rL5;k$9$k$h$&$K$7$?(B
</DD>
<DT>  log/recent.plm
</DT>
<DD>    $B6u$N(Bprivmsg$B!"(Bnotice$B$rL5;k$9$k$h$&$K$7$?(B
</DD>
</DL>

<H4>2.20.2</H4><DL>

<DT>  auto/alias.plm
</DT>
<DD>    plum$B$N%P!<%8%g%s%"%C%W$GF0$+$J$/$J$C$F$$$?$N$rD>$7$?(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    $B%/%i%$%"%s%H$+$i$N(BNOTICE$B$rL5;k$7$F$$$?$N$rD>$7$?(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    $B%/%i%$%"%s%H$+$i$N(BNOTICE$B$rL5;k$7$F$$$?$N$rD>$7$?(B
</DD>
<DT>  log/recent.plm
</DT>
<DD>    $B%/%i%$%"%s%H$+$i$N(BNOTICE$B$rL5;k$7$F$$$?$N$rD>$7$?(B
</DD>
<DT>  user/nick/client.plm
</DT>
<DD>    $B%W%m%Q%F%#$rJ#?t9T=q$$$?$H$-$K@5$7$/F0$$$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  ctcp/part.plm
</DT>
<DD>    $B<u$1<h$C$?0z?t$r@5$7$/JV$7$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.20.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B%/%i%$%"%s%H$K(BKICK$B$rAw$C$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    $B%a%C%;!<%8$NAw$j@h$,4V0c$C$F$$$?$N$rD>$7$?(B
</DD>
<DT>  auto/alias.plm
</DT>
<DD>    $B%/%i%$%"%s%H$N%A%'%C%/$,$*$+$7$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $B%a%C%;!<%8$r@5$7$/Aw$C$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.19.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B%5!<%P$+$i@ZCG$5$l$?$H$-$N=hM}$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $B%/%i%$%"%s%H$r@\B3$7$?$H$-$N=hM}$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $'server[$B%f!<%6(BNO]$B$r(B$'server[$B%U%!%$%k(BNO]$B$KJQ99(B
</DD>
<DT>  channel/mode/oper/set.plm
</DT>
<DD>    $B;HMQ$7$F$$$J$$JQ?t$r;2>H$7$F$$$?$N$rD>$7$?(B
</DD>
<DT>  auto/alias.plm
</DT>
<DD>    $B%/%i%$%"%s%H$K%a%C%;!<%8$rAw$i$J$$$3$H$,$"$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.18.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B=PNO7O$N%$%Y%s%H$r5U=g$K=hM}$9$k$h$&$K$7$?(B
<BR>    $B%i%Y%k$r;H$C$?;~$N=hM}$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $'servername[$B%f!<%6(BNO]$B$r(B$'servername[$B%U%!%$%k(BNO]$B$KJQ99(B
<BR>    $'channellist[$B%f!<%6(BNO]$B$r(B$'channellist[$B%U%!%$%k(BNO]$B$KJQ99(B
<BR>    $'nameslist{$B%f!<%6(BNO, $B%A%c%s%M%k(B}$B$r(B
<BR>    $'nameslist{$B%U%!%$%k(BNO, $B%A%c%s%M%k(B}$B$KJQ99(B
<BR>    $'topic{$B%f!<%6(BNO, $B%A%c%s%M%k(B}$B$r(B
<BR>    $'topic{$B%U%!%$%k(BNO, $B%A%c%s%M%k(B}$B$KJQ99(B
<BR>    $'channelmode{$B%f!<%6(BNO, $B%A%c%s%M%k(B, $B%b!<%I(B}$B$r(B
<BR>    $'channelmode{$B%U%!%$%k(BNO, $B%A%c%s%M%k(B, $B%b!<%I(B}$B$KJQ99(B
<BR>    ctcp$B$N=hM}$r$9$k%5%V%k!<%A%s$K%A%c%s%M%kL>$rEO$9$h$&$KJQ99(B
<BR>    's_close($B%f!<%6(BNO)$B$r(B's_close($B%U%!%$%k(BNO)$B$KJQ99(B
<BR>    $'nickname$B$rGQ;_(B
<BR>    $'NIL$B$rGQ;_(B
<BR>    $B%/%i%$%"%s%H$X$N=PNO%P%C%U%!$r85$KLa$7$?(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    daily$B!"(Bhourly$B$N=hM}$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    InitList$B$r<BAu$7$?(B
<BR>    AddList$B$r<BAu$7$?(B
<BR>    DelList$B$r<BAu$7$?(B
<BR>    plugin$B$,%*%j%8%J%k$H0c$C$F$$$?$N$rD>$7$?(B
<BR>    $B%W%i%0%$%sCf$G$O7Y9p$r=P$5$J$$$h$&$K$7$?(B
</DD>
<DT>  server/info.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.17.1</H4><DL>

<DT>  plum
</DT>
<DD>    CTCP$B%a%C%;!<%8$N<hF@$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $B%W%m%Q%F%#$N9TKv$N6uGr$r<h$j=|$/$h$&$K$7$?(B
<BR>    $B%j%9%H$N%;%Q%l!<%?$rJQ99$7$?(B
<BR>    'date$B%5%V%k!<%A%s$r>/$7JQ99$7$?(B
<BR>    $B=PNO%P%C%U%!$r%3%^%s%I$4$H$K$o$1$?(B
<BR>    $B6u%j%9%H$r6uJ8;zNs$KJQ99(B
</DD>
<DT>  auto/nako.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    plugindir$B$N@_Dj$rDI2C(B
<BR>    $B=PNO$9$k%G!<%?$r(Bjis$B$KJQ49$9$k$h$&$K$7$?(B
</DD>
<DT>  auto/alias.plm
</DT>
<DD>    $B%(%$%j%"%9>pJs$r%A%c%s%M%k$KH/8@$7$J$$$h$&$KJQ99(B
<BR>    $B%(%$%j%"%9$NFI$_9~$_$r>/$7JQ99(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $B08@h$,@5$7$$$+$I$&$+$r3NG'$9$k$h$&$K$7$?!#(B
<BR>    $B%(%$%j%"%9$NFI$_9~$_$r>/$7JQ99(B
</DD>
<DT>  auto/answer.plm
</DT>
<DD>    $BJ#?t$N%a%C%;!<%8$rAw$k$3$H$,$G$-$k$h$&$KJQ99(B
</DD>
<DT>  channel/mode/set/oper.plm
</DT>
<DD>    $B%-%e!<$N%A%'%C%/$r>/$7JQ99(B
</DD>
</DL>

<H4>2.16.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B:G8e$KF~NO$N$"$C$?;~4V$rI=$9JQ?t(B$'access[$B%U%!%$%k(BNO]$B$rDI2C(B
<BR>    $B%5!<%P$+$i@ZCG$5$l$?$H$-$K(BERROR$B$G$O$J$/(BNOTICE$B$rAw$k$h$&$K$7$?!#(B
<BR>    $B%5!<%P$+$i@ZCG$5$l$?$H$-$K%/%i%$%"%s%H$K(BPART$B$rAw$k$h$&$K$7$?!#(B
</DD>
<DT>  server/timeout.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  ctcp/dcc/cancel.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $B%(%$%j%"%9$NFI$_9~$_$,$*$+$7$+$C$?$N$rD>$7$?(B
<BR>    $B%f!<%6$N%^%C%A%s%0=hM}$r>/$7JQ99(B
<BR>    $B%a%C%;!<%8%U%!%$%k$N%U%)!<%^%C%H$rJQ99(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    $BJ#?t$N%f!<%6$GMxMQ$G$-$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  ctcp/dcc/forward.plm
</DT>
<DD>    $B<+J,$KBP$7$FE>Aw$9$k$3$H$,$"$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.15.4</H4><DL>

<DT>  auto/alias.plm
</DT>
<DD>    $B4A;z%3!<%I$r;XDj$G$-$k$h$&$KJQ99(B
<BR>    $B%(%$%j%"%9$NJQ99$,$G$-$k$h$&$K$7$?(B
</DD>
<DT>  auto/message.plm
</DT>
<DD>    $B%(%$%j%"%9$,@5$7$/FI$a$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    $B%(%$%j%"%9$N4A;z%3!<%I$r;XDj$G$-$k$h$&$KJQ99(B
</DD>
</DL>

<H4>2.15.3</H4><DL>

<DT>  auto/message.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  auto/alias.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.15.2</H4><DL>

<DT>  auto/yuurii.plm
</DT>
<DD>    CTCP$B%a%C%;!<%8$r@5$7$/07$($k$h$&$K$7$?(B
</DD>
</DL>

<H4>2.15.1</H4><DL>

<DT>  plum
</DT>
<DD>    exit$B$7$?$H$-$K%5!<%P$K%a%C%;!<%8$rAw$C$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    $B$f!<$j$#(B1.16$B$KBP1~$9$kJQ99(B
<BR>    $use_timer$B$N@_Dj$,$*$+$7$+$C$?$N$rD>$7$?(B
</DD>
<DT>  ctcp/dcc/forward.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  ctcp/part.plm
</DT>
<DD>    $BAw$j<g$N%K%C%/%M!<%`$r%a%C%;!<%8$H$7$FAw$k$h$&$K$7$?(B
</DD>
<DT>  channel/join/connect.plm
</DT>
<DD>    channel/join/first.plm$B$+$iL>>NJQ99(B
</DD>
<DT>  sys/timer.plm
</DT>
<DD>    sys/cron.plm$B$+$iL>>NJQ99(B
</DD>
</DL>

<H4>2.14.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B%W%m%Q%F%#$NA0$N6uGr$rL5;k$9$k$h$&$K$7$?(B
<BR>    $B:F@\B3;~$N%(%i!<%a%C%;!<%8$,$*$+$7$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    $chanlist$B$H(B$autojoinchanlist$B$r=i4|2=$9$k$h$&$K$7$?(B
<BR>    $from$B$H(B$where$B$r<BAu$7$?(B
</DD>
</DL>

<H4>2.13.2</H4><DL>

<DT>  auto/yuurii.plm
</DT>
<DD>    $BB8:_$7$J$$%5%V%k!<%A%s$r8F$s$G$$$?$N$rD>$7$?(B
<BR>    $B%?%$%^!<$N%G%U%)%k%HCM$r@_Dj$7$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.13.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B%b%8%e!<%k$N%Q%9$rE83+$7$J$$$h$&$K$7$?(B
</DD>
<DT>  sys/module/update.plm
</DT>
<DD>    perl4$B$GF0$$$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  ctcp/dcc/gate.plm   
</DT>
<DD>    $B$H$j$"$($:F0$/$h$&$K$7$?(B
</DD>
</DL>

<H4>2.12.1</H4><DL>

<DT>  plum
</DT>
<DD>    main_loop$B$,:G=i$K<B9T$5$l$k$h$&$K%$%Y%s%H$NH/@8=g=x$rJQ99$7$?(B
<BR>    gethostbyaddr$B$NJV$jCM$r$A$c$s$H%A%'%C%/$9$k$h$&$K$7$?(B
<BR>    $B5/F0;~$K(Bsrand$B$r<B9T$9$k$h$&$K$7$?(B
<BR>    $B;H$o$J$/$J$C$?%]!<%H$rJD$8$k$h$&$K$7$?(B
<BR>    $B%]!<%HHV9f$N3NG'$r$7$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    'date$B%5%V%k!<%A%s$N=hM}$r>/$7JQ99$7$?(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    $B%[!<%`%G%#%l%/%H%j$rI=$9(B~$B$rE83+$7$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    $B%5%V%k!<%A%sL>$r4V0c$($F$$$?$N$rD>$7$?(B
</DD>
<DT>  channel/join/first.plm
</DT>
<DD>    $BH4$1$?%A%c%s%M%k$d%-%C%/$5$l$?%A%c%s%M%k$KF~$i$J$$$h$&$K$7$?(B
</DD>
<DT>  sys/cron.plm
</DT>
<DD>    fork$B$H(Bexec$B$r;H$C$F$$$?$N$r(Bsystem$B$r;H$&$h$&$KJQ99$7$?(B
</DD>
</DL>

<H4>2.11.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B%A%c%s%M%k%b!<%IMQ$NJQ?t(B%'channelmode$B$rDI2C(B
<BR>    $B%A%c%s%M%k%-!<MQ$NJQ?t(B%'key$B$r:o=|(B
</DD>
<DT>  client/eucin.plm
</DT>
<DD>    client/kanji.plm$B$KE}9g(B
</DD>
<DT>  client/eucout.plm
</DT>
<DD>    client/kanji.plm$B$KE}9g(B
</DD>
<DT>  client/jisin.plm
</DT>
<DD>    client/kanji.plm$B$KE}9g(B
</DD>
<DT>  client/jisout.plm
</DT>
<DD>    client/kanji.plm$B$KE}9g(B
</DD>
<DT>  client/sjisin.plm
</DT>
<DD>    client/kanji.plm$B$KE}9g(B
</DD>
<DT>  client/sjisout.plm
</DT>
<DD>    client/kanji.plm$B$KE}9g(B
</DD>
<DT>  server/eucin.plm
</DT>
<DD>    server/kanji.plm$B$KE}9g(B
</DD>
<DT>  server/eucout.plm
</DT>
<DD>    server/kanji.plm$B$KE}9g(B
</DD>
<DT>  server/jisin.plm
</DT>
<DD>    server/kanji.plm$B$KE}9g(B
</DD>
<DT>  server/jisout.plm
</DT>
<DD>    server/kanji.plm$B$KE}9g(B
</DD>
<DT>  server/sjisin.plm
</DT>
<DD>    server/kanji.plm$B$KE}9g(B
</DD>
<DT>  server/sjinout.plm
</DT>
<DD>    server/kanji.plm$B$KE}9g(B
</DD>
<DT>  client/kanji.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
<DT>  server/kanji.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.10.4</H4><DL>

<DT>  auto/random.plm
</DT>
<DD>    $B%U%!%$%k$rJD$8$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    $BJ8;z2=$1$9$k$3$H$,$"$C$?$N$rD>$7$?(B
<BR>    $BM>J,$J2~9T$,$D$$$F$$$k$3$H$,$"$k$N$rD>$7$?(B
<BR>    perl4$B$GF0$+$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  channel/mode/oper/set.plm
</DT>
<DD>    $BBT$A;~4V$,$J$$$H$-$K$9$0$K%*%Z%l!<%?$K$9$k$h$&$K$7$?(B
<BR>    channel.mode.oper.set.not$B$r8+$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  user/ignore.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.10.3</H4><DL>

<DT>  user/mode/set.plm
</DT>
<DD>    plum$B$KJV$9%Q%C%1!<%8L>$,4V0c$C$F$$$?$N$rD>$7$?(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    $B<u$1<h$C$?%a%C%;!<%8$rJV$7$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.10.2</H4><DL>

<DT>  sys/module/update.plm
</DT>
<DD>    $B$J$s$@$+$*$+$7$+$C$?$_$?$$$J$N$GD>$7$?(B
</DD>
</DL>

<H4>2.10.1</H4><DL>

<DT>  plum
</DT>
<DD>    sjis$B$+$i(Bjis$B$X$N4A;zJQ49$,$*$+$7$+$C$?$N$GD>$7$?(B
</DD>
<DT>  auto/oper.plm
</DT>
<DD>    $BH/8@$9$k@h$,4V0c$C$F$$$?$N$rD>$7$?(B
<BR>    $B%/%i%$%"%s%HBP$7$F$bH/8@$9$k$h$&$K$7$?(B
</DD>
</DL>

<H4>2.9.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B%W%m%Q%F%#$,@5$7$/<hF@$G$-$J$$$3$H$,$"$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.8.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B@_Dj%U%!%$%k$N:FFI$_9~$_$KBP1~$7$?(B
</DD>
<DT>  sys/conf/load.plm
</DT>
<DD>    $B$A$c$s$HF0$$$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  sys/conf/update.plm
</DT>
<DD>    $B$A$c$s$HF0$$$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.7.1</H4><DL>

<DT>  plum
</DT>
<DD>    2.6.1$B$G(BCTCP$B$^$o$j$,%(%s%P%0$7$F$$$?$N$rD>$7$?(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    perl4$B$GF0$$$F$$$J$+$C$?%P%0$rD>$7$?(B
<BR>    $B%W%i%0%$%s$N<B9T$r9bB.$K$7$?(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    $B;XDj$7$?H/8@$KH?1~$7$F$$$J$+$C$?%P%0$rD>$7$?(B
</DD>
</DL>

<H4>2.6.1</H4><DL>

<DT>  plum
</DT>
<DD>    $BF10l$N%b%8%e!<%k$r0[$J$C$?%W%m%Q%F%#$G<B9T$G$-$k$h$&$K$7$?(B
</DD>
<DT>  sys/module/update.plm
</DT>
<DD>    $B$A$c$s$H%"%C%W%G!<%H$G$-$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    $B%W%m%Q%F%#$N%i%Y%k$KBP1~(B
</DD>
</DL>

<H4>2.5.2</H4><DL>

<DT>  auto/answer.plm
</DT>
<DD>    $B%W%i%$%Y!<%H$JH/8@$K@5$7$/H?1~$G$-$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  auto/random.plm
</DT>
<DD>    $B?7$?$KDI2C(B
</DD>
</DL>

<H4>2.5.1</H4><DL>

<DT>  plum
</DT>
<DD>    parse$B$H(Bbuild$B$r(Bmain$B%Q%C%1!<%8$K0\F0$7$?!#(B
<BR>    $B%5!<%P$H@\B3$5$l$F$$$k$+$r3NG'$7$F$$$J$+$C$?ItJ,$rD>$7$?!#(B
</DD>
<DT>  user/away/client.plm
</DT>
<DD>    $B%5!<%P$H$N@\B33NG'$r$9$k$h$&$K$7$?(B
</DD>
<DT>  log/channel.plm
</DT>
<DD>    perl4$B$G@5$7$/F0$+$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  log/daily.plm
</DT>
<DD>    perl4$B$G@5$7$/F0$+$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  log/recent.plm
</DT>
<DD>    perl4$B$G@5$7$/F0$+$J$+$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.4.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B%/%i%$%"%s%H$N%[%9%HL>$r@5$7$/<hF@$G$-$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    $B%(%i!<;~$K=PNO$9$k%/%i%$%"%s%HL>$r%5!<%P$HF1$8$h$&$K$7$?(B
</DD>
</DL>

<H4>2.3.1</H4><DL>

<DT>  plum
</DT>
<DD>    $B%=%1%C%H$N%U%!%$%k%O%s%I%k$r(Bmain$B$K$7$?(B
</DD>
<DT>  ctcp/dcc/gate.plm
</DT>
<DD>    $B%=%1%C%H$,$A$c$s$HFI$a$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  ctcp/dcc/get.plm
</DT>
<DD>    $B%=%1%C%H$,$A$c$s$HFI$a$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
</DL>

<H4>2.2.1</H4><DL>

<DT>  plum
</DT>
<DD>    $BJD$8$?%=%1%C%H$r8+$K9T$/$N$r$d$a$?(B
<BR>    $B%/%i%$%"%s%H$r@\B3$7$?$H$-$K%A%c%s%M%k$KF~$i$J$+$C$?$N$rD>$7$?(B
<BR>    $B%b%8%e!<%k$N%Q%C%1!<%8L>$r@5$7$/<hF@$7$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    $B%5!<%PL>$K@\B3$7$F$$$k%5!<%P$NL>A0$rAw$k$h$&$K$7$?(B
<BR>    $B%(%i!<=hM}$r$$$/$D$+JQ99$7$?(B
<BR>    $B%/%i%$%"%s%H$NG'>Z$,=*$o$C$F$$$k$+3NG'$9$k$h$&$K$7$?(B
</DD>
<DT>  auto/answer.plm
</DT>
<DD>    $B%/%i%$%"%s%H$NG'>Z$,=*$o$C$F$$$k$+3NG'$9$k$h$&$K$7$?(B
</DD>
<DT>  auto/yuurii.plm
</DT>
<DD>    $B%/%i%$%"%s%H$NG'>Z$,=*$o$C$F$$$k$+3NG'$9$k$h$&$K$7$?(B
</DD>
<DT>  ctcp/version.plm
</DT>
<DD>    irchat.el$B$GLdBj$,5/$3$i$J$$$h$&$K$7$?(B
</DD>
<DT>  sys/conf/update
</DT>
<DD>    $B%/%i%$%"%s%H$K%a%C%;!<%8$rAw$C$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
<DT>  sys/module/update.plm
</DT>
<DD>    $B%/%i%$%"%s%H$K%a%C%;!<%8$rAw$C$F$$$J$+$C$?$N$rD>$7$?(B
<BR>    2.1.1$B$KF~$lK:$l$F$$$?$N$GDI2C$7$?(B
</DD>
<DT>  user/away/client
</DT>
<DD>    $B$A$c$s$H(BAWAY$B$r@_Dj$G$-$F$$$J$+$C$?$N$rD>$7$?(B
</DD>
</DL>

</BODY></HTML>
