<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML><HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-2022-JP">
<LINK REV="made" HREF="mailto:hasegawa@agusa.nuie.nagoya-u.ac.jp">
<TITLE>module</TITLE></HEAD><BODY>


<HR><H3>$B%b%8%e!<%k(B</H3>

plum$B$G$O$[$H$s$I$N5!G=$,%b%8%e!<%k$K$h$C$F<B8=$5$l$F$$$^$9!#(B
$B$I$N%b%8%e!<%k$rAH$_9~$`$+$O(Bplum.conf$B$G;XDj$7$^$9!#(B
$B%b%8%e!<%k$N%I%-%e%a%s%H$O$=$l$>$l$N%b%8%e!<%k$r;2>H$7$F2<$5$$!#(B


<HR><H3>$B%b%8%e!<%k0lMw(B</H3>

$B8=:_(Bplum$B$KIUB0$7$F$$$k%b%8%e!<%k$N0lMw$G$9!#(B

<DL>
<DT><A HREF="../module/auto/alias.plm">auto/alias.plm
</A></DT><DD>    $B%f!<%6%(%$%j%"%9>pJs$N4IM}(B
</DD>
<DT><A HREF="../module/auto/answer.plm">auto/answer.plm
</A></DT><DD>    $BFCDj$NH/8@$KH?1~$7$FBP1~$9$kH/8@$r$9$k(B
</DD>
<DT><A HREF="../module/auto/cache.plm">auto/cache.plm
</A></DT><DD>    $BF1$8H/8@$r7+$jJV$5$J$$$h$&$K@)8B$9$k(B
</DD>
<DT><A HREF="../module/auto/message.plm">auto/message.plm
</A></DT><DD>    $B%f!<%64V$G%a%C%;!<%8$NAw<u?.$r9T$($k$h$&$K$9$k(B
</DD>
<DT><A HREF="../module/auto/nako.plm">auto/nako.plm
</A></DT><DD>    Internet Relay Chat Robot nako$B$N%(%_%e%l!<%7%g%s$r9T$&(B
</DD>
<DT><A HREF="../module/auto/oper.plm">auto/oper.plm
</A></DT><DD>    $BFCDj$NH/8@$r$7$??M$r%A%c%s%M%k%*%Z%l!<%?$K$9$k(B
</DD>
<DT><A HREF="../module/auto/package.plm">auto/package.plm
</A></DT><DD>    $B;XDj$7$??M$K(BDCC$B$G%U%!%$%k$rFO$1$k(B
</DD>
<DT><A HREF="../module/auto/random.plm">auto/random.plm
</A></DT><DD>    $BFCDj$NH/8@$KH?1~$7$F%i%s%@%`$JH/8@$r$9$k(B
</DD>
<DT><A HREF="../module/auto/reply.plm">auto/reply.plm
</A></DT><DD>    $BFCDj$NH/8@$KH?1~$7$?%a%C%;!<%8$rH/8@$9$k(B
</DD>
<DT><A HREF="../module/auto/response.plm">auto/response.plm
</A></DT><DD>    $B%a%C%;!<%8$KH?1~$7$FH/8@$r9T$&(B
</DD>
<DT><A HREF="../module/auto/yuurii.plm">auto/yuurii.plm
</A></DT><DD>    pirc bot $B$f!<$j$#$N%W%i%0%$%s$rAH$_9~$`(B
</DD>
<DT><A HREF="../module/channel/alias.plm">channel/alias.plm
</A></DT><DD>    $B%A%c%s%M%k%(%$%j%"%9$rJQ49$9$k(B
</DD>
<DT><A HREF="../module/channel/filter.plm">channel/filter.plm
</A></DT><DD>    $B%/%i%$%"%s%H$+$i8+$($k%A%c%s%M%k$r@)8B$9$k(B
</DD>
<DT><A HREF="../module/channel/join/connect.plm">channel/join/connect.plm
</A></DT><DD>    $B%5!<%P$K@\B3$7$?$H$-$K;XDj$7$?%A%c%s%M%k$KF~$k(B
</DD>
<DT><A HREF="../module/channel/join/invite.plm">channel/join/invite.plm
</A></DT><DD>    $B>7BT$5$l$?%A%c%s%M%k$KF~$k(B
</DD>
<DT><A HREF="../module/channel/join/kick.plm">channel/join/kick.plm
</A></DT><DD>    $B%A%c%s%M%k$+$i%-%C%/$5$l$F$bF~$jD>$9(B
</DD>
<DT><A HREF="../module/channel/mode/oper/get.plm">channel/mode/oper/get.plm
</A></DT><DD>    $B%A%c%s%M%k%*%Z%l!<%?$rI|5"$9$k(B
</DD>
<DT><A HREF="../module/channel/mode/oper/set.plm">channel/mode/oper/set.plm
</A></DT><DD>    $BFCDj$N?M$r%A%c%s%M%k%*%Z%l!<%?$K$9$k(B
</DD>
<DT><A HREF="../module/channel/mode/set.plm">channel/mode/set.plm
</A></DT><DD>    $B%A%c%s%M%k$r:n@.$7$?$H$-$K%A%c%s%M%k%b!<%I$r@_Dj$9$k(B
</DD>
<DT><A HREF="../module/client/kanji.plm">client/kanji.plm
</A></DT><DD>    $B%/%i%$%"%s%H$H$NF~=PNO$G4A;z%3!<%I$rJQ49$9$k(B
</DD>
<DT><A HREF="../module/ctcp/clientinfo.plm">ctcp/clientinfo.plm
</A></DT><DD>    CTCP CLIENTINFO$B$KH?1~$7$F%/%i%$%"%s%H>pJs$rAw$k(B
</DD>
<DT><A HREF="../module/ctcp/comment.plm">ctcp/comment.plm
</A></DT><DD>    CTCP COMMENT$B$KH?1~$7$F%a%C%;!<%8$r<u$1<h$k(B
</DD>
<DT><A HREF="../module/ctcp/dcc/cancel.plm">ctcp/dcc/cancel.plm
</A></DT><DD>    DCC CHAT$B$r%-%c%s%;%k$9$k(B
</DD>
<DT><A HREF="../module/ctcp/dcc/client.plm">ctcp/dcc/client.plm
</A></DT><DD>    CTCP DCC$B$r%/%i%$%"%s%H$KAw$k(B
</DD>
<DT><A HREF="../module/ctcp/dcc/forward.plm">ctcp/dcc/forward.plm
</A></DT><DD>    CTCP DCC$B$r;XDj$7$?%f!<%6$KE>Aw$9$k(B
</DD>
<DT><A HREF="../module/ctcp/dcc/gate.plm">ctcp/dcc/gate.plm
</A></DT><DD>    CTCP DCC SEND$B$KH?1~$7$FE>Aw$NCf7Q$r9T$&(B
</DD>
<DT><A HREF="../module/ctcp/dcc/get.plm">ctcp/dcc/get.plm
</A></DT><DD>    DCC SEND$B$KH?1~$7$FAw$i$l$F$-$?%U%!%$%k$r<u$1<h$k(B
</DD>
<DT><A HREF="../module/ctcp/dcc/http.plm">ctcp/dcc/http.plm
</A></DT><DD>    DCC SEND$B$H(BDCC CHAT$B$r(BHTTP$B$r;H$C$FCf7Q$9$k(B
</DD>
<DT><A HREF="../module/ctcp/dcc/nat.plm">ctcp/dcc/nat.plm
</A></DT><DD>    NAT$B$r7PM3$7$F(BDCC$B$rMxMQ$9$k(B
</DD>
<DT><A HREF="../module/ctcp/dcc/send.plm">ctcp/dcc/send.plm
</A></DT><DD>    DCC SEND$B$G%U%!%$%k$rAw?.$9$k(B
</DD>
<DT><A HREF="../module/ctcp/echo.plm">ctcp/echo.plm
</A></DT><DD>    CTCP ECHO$B$KH?1~$7$F<u$1<h$C$?%a%C%;!<%8$rAw$k(B
</DD>
<DT><A HREF="../module/ctcp/finger.plm">ctcp/finger.plm
</A></DT><DD>    CTCP FINGER$B$KH?1~$7$F%/%i%$%"%s%H$N>pJs$rAw$k(B
</DD>
<DT><A HREF="../module/ctcp/part.plm">ctcp/part.plm
</A></DT><DD>    CTCP PART$B$KH?1~$7$F%A%c%s%M%k$rH4$1$k(B
</DD>
<DT><A HREF="../module/ctcp/ping.plm">ctcp/ping.plm
</A></DT><DD>    CTCP PING$B$KH?1~$7$F<u$1<h$C$?%a%C%;!<%8$rAw$k(B
</DD>
<DT><A HREF="../module/ctcp/time.plm">ctcp/time.plm
</A></DT><DD>    CTCP TIME$B$KH?1~$7$F8=:_;~9o$rAw$k(B
</DD>
<DT><A HREF="../module/ctcp/userinfo.plm">ctcp/userinfo.plm
</A></DT><DD>    CTCP USERINFO$B$KH?1~$7$F%f!<%6>pJs$rAw$k(B
</DD>
<DT><A HREF="../module/ctcp/version.plm">ctcp/version.plm
</A></DT><DD>    CTCP VERSION$B$KH?1~$7$F%P!<%8%g%s>pJs$rAw$k(B
</DD>
<DT><A HREF="../module/log/channel.plm">log/channel.plm
</A></DT><DD>    $B%a%C%;!<%8$r%A%c%s%M%k$4$H$N%m%0$H$7$FJ]B8$9$k(B
</DD>
<DT><A HREF="../module/log/client.plm">log/client.plm
</A></DT><DD>    $B%/%i%$%"%s%H$+$i$NF~NO$r%m%0$H$7$FJ]B8$9$k(B
</DD>
<DT><A HREF="../module/log/daily.plm">log/daily.plm
</A></DT><DD>    $B%a%C%;!<%8$r%m%0$KJ]B8$9$k(B
</DD>
<DT><A HREF="../module/log/error.plm">log/error.plm
</A></DT><DD>    $B%(%i!<$r%m%0$H$7$FJ]B8$9$k(B
</DD>
<DT><A HREF="../module/log/mail.plm">log/mail.plm
</A></DT><DD>    $B%m%0%U%!%$%k$r;XDj$7$?%"%I%l%9$X%a!<%k$GAw?.$9$k(B
</DD>
<DT><A HREF="../module/log/recent.plm">log/recent.plm
</A></DT><DD>    $B%/%i%$%"%s%H$r@\B3$7$?$H$-$K:G6a$N%a%C%;!<%8$rAw$k(B
</DD>
<DT><A HREF="../module/log/server.plm">log/server.plm
</A></DT><DD>    $B%5!<%P$+$i$NF~NO$r%m%0$H$7$FJ]B8$9$k(B
</DD>
<DT><A HREF="../module/server/info.plm">server/info.plm
</A></DT><DD>    $B%/%i%$%"%s%H$N@\B3;~$K%5!<%P>pJs$rAw$k(B
</DD>
<DT><A HREF="../module/server/kanji.plm">server/kanji.plm
</A></DT><DD>    $B%5!<%P$H$NF~=PNO$G4A;z%3!<%I$rJQ49$9$k(B
</DD>
<DT><A HREF="../module/server/timeout.plm">server/timeout.plm
</A></DT><DD>    $B0lDj;~4VF~NO$,$J$$%5!<%P$H$N@\B3$r@ZCG$9$k(B
</DD>
<DT><A HREF="../module/sys/background.plm">sys/background.plm
</A></DT><DD>    plum$B$r%P%C%/%0%i%&%s%I$G<B9T$9$k(B
</DD>
<DT><A HREF="../module/sys/conf/load.plm">sys/conf/load.plm
</A></DT><DD>    plum.conf$B$rFI$_9~$_D>$9(B
</DD>
<DT><A HREF="../module/sys/conf/update.plm">sys/conf/update.plm
</A></DT><DD>    plum.conf$B$,JQ99$5$l$k$H<+F0E*$KFI$_9~$_D>$9(B
</DD>
<DT><A HREF="../module/sys/dump.plm">sys/dump.plm
</A></DT><DD>    plum$B$,FbIt$G;HMQ$9$k>pJs$rI=<($9$k(B
</DD>
<DT><A HREF="../module/sys/module/update.plm">sys/module/update.plm
</A></DT><DD>    $B%b%8%e!<%k$,JQ99$5$l$k$H<+F0E*$KAH$_9~$_D>$9(B
</DD>
<DT><A HREF="../module/sys/multicast.plm">sys/multicast.plm
</A></DT><DD>    $BJ#?t$N%5!<%P$rC10l$N%5!<%P$N$h$&$K%(%_%e%l!<%H$9$k(B
</DD>
<DT><A HREF="../module/sys/show.plm">sys/show.plm
</A></DT><DD>    $BG$0U$N(Bperl$B$NJ8$r<B9T$7$F7k2L$r%/%i%$%"%s%H$KAw$k(B
</DD>
<DT><A HREF="../module/sys/timer.plm">sys/timer.plm
</A></DT><DD>    $B;XDj$5$l$?;~4V$K;XDj$5$l$?%3%^%s%I$r<B9T$9$k(B
</DD>
<DT><A HREF="../module/sys/web.plm">sys/web.plm
</A></DT><DD>    Web$B%V%i%&%6$J$I$G(BIRC$B$r9T$&$?$a$N%$%s%?!<%U%'%$%9(B
</DD>
<DT><A HREF="../module/user/away/client.plm">user/away/client.plm
</A></DT><DD>    $B%/%i%$%"%s%H$H$N@\B3>uBV$K$h$C$F(BAWAY$B$r@_Dj$9$k(B
</DD>
<DT><A HREF="../module/user/away/nick.plm">user/away/nick.plm
</A></DT><DD>    $B%K%C%/%M!<%`$rJQ99$9$k$H$=$l$KBP1~$9$k(BAWAY$B$r@_Dj$9$k(B
</DD>
<DT><A HREF="../module/user/idle.plm">user/idle.plm
</A></DT><DD>    WHOIS$B$r<B9T$7$?$H$-$K%f!<%6$N(BIDLE$B;~4V$rI=<($9$k(B
</DD>
<DT><A HREF="../module/user/ignore.plm">user/ignore.plm
</A></DT><DD>    $B;XDj$7$?%f!<%6$NH/8@$rL5;k$9$k(B
</DD>
<DT><A HREF="../module/user/mode/set.plm">user/mode/set.plm
</A></DT><DD>    $B%5!<%P$K@\B3$7$?$H$-$K%f!<%6%b!<%I$r@_Dj$9$k(B
</DD>
<DT><A HREF="../module/user/nick/client.plm">user/nick/client.plm
</A></DT><DD>    $B%/%i%$%"%s%H$H$N@\B3>uBV$K$h$C$F%K%C%/%M!<%`$rJQ99$9$k(B
</DD>
</DL>

</BODY></HTML>
