<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML><HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-2022-JP">
<LINK REV="made" HREF="mailto:hasegawa@agusa.nuie.nagoya-u.ac.jp">
<TITLE>module programming</TITLE></HEAD><BODY>


<HR><H3>$B%b%8%e!<%k(B</H3>

plum$B$N%b%8%e!<%k$O$9$Y$F(Bperl$B$G=q$+$l$F$$$^$9!#(B
$BIaDL$N(Bperl$B%9%/%j%W%H$H$O0c$C$F!"(Bplum$B$+$i%b%8%e!<%k$H$7$F(B
$B;H$($k$h$&$K$9$k$?$a$N$$$/$D$+$N<jB3$-$,I,MW$G$9$,!"(B
$B4pK\E*$K$O(Bperl$B$5$(CN$C$F$$$l$P!"(Bplum$B$N%b%8%e!<%k$r:n$k$N$b4JC1$G$9!#(B

<BR><BR>

plum$B$N%b%8%e!<%k$O%$%Y%s%H$KBP$9$k=hM}$r9T$&%5%V%k!<%A%s$N=8$^$j$G$9!#(B
$B%b%8%e!<%k$K$O!"$I$s$J%$%Y%s%H$,H/@8$7$?$H$-$K$I$s$J=hM}$r9T$&$+$r(B
$B%5%V%k!<%A%s$K=q$$$F$*$/$@$1$G!"$"$H$O(Bplum$B$,%$%Y%s%H$NH/@8$K1~$8$F!"(B
$B$=$l$i$N%5%V%k!<%A%s$r<B9T$7$F$/$l$^$9!#(B


<HR><H3>$B%5%V%k!<%A%s(B</H3>

plum$B$O2?$+$N%$%Y%s%H$,H/@8$9$k$H!"(B
$B3F%b%8%e!<%k$K$"$kFCDj$NL>A0$N%5%V%k!<%A%s$r<B9T$7$^$9!#(B
$B$3$N%5%V%k!<%A%s$NL>A0$O%$%Y%s%H$4$H$K(B1$B$D(B1$B$D7h$^$C$F$*$j!"(B
$B%$%Y%s%H$,H/@8$9$k$H!"$=$l$KBP1~$9$kL>A0$N%5%V%k!<%A%s$,<B9T$5$l$^$9!#(B
$B$3$N%5%V%k!<%A%sL>$O0J2<$N$h$&$K$J$C$F$$$^$9!#(B

<DL>
<DT> main_loop ($B%f!<%6(BNO)
</DT>
<DD>    $B%a%$%s%k!<%W$r=hM}$9$k$4$H$K<B9T$5$l$^$9!#(B
</DD>
<DT> module_enable ($B%f!<%6(BNO)
</DT>
<DD>    $B%b%8%e!<%k$N;HMQ$r3+;O$7$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> module_disable ($B%f!<%6(BNO)
</DT>
<DD>    $B%b%8%e!<%k$N;HMQ$r$d$a$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> server_open ($B%U%!%$%k(BNO)
</DT>
<DD>    $B%5!<%P$K@\B3$7$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> server_close ($B%U%!%$%k(BNO)
</DT>
<DD>    $B%5!<%P$H$N@\B3$,JD$8$i$l$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> client_open ($B%U%!%$%k(BNO)
</DT>
<DD>    $B%/%i%$%"%s%H$r@\B3$7$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> client_close ($B%U%!%$%k(BNO)
</DT>
<DD>    $B%/%i%$%"%s%H$H$N@\B3$,JD$8$i$l$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> server_read ($B%U%!%$%k(BNO, $B%a%C%;!<%8(B)
</DT>
<DD>    $B%5!<%P$+$iF~NO$,$"$C$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> server_write ($B%U%!%$%k(BNO, $B%a%C%;!<%8(B)
</DT>
<DD>    $B%5!<%P$K=PNO$9$k$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> client_read ($B%U%!%$%k(BNO, $B%a%C%;!<%8(B)
</DT>
<DD>    $B%/%i%$%"%s%H$+$iF~NO$,$"$C$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> client_write ($B%U%!%$%k(BNO, $B%a%C%;!<%8(B)
</DT>
<DD>    $B%/%i%$%"%s%H$X=PNO$9$k$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> ss_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B0z?t(B1, $B0z?t(B2, ...)
</DT>
<DD>    $B%5!<%P$+$i%3%^%s%I$NF~NO$,$"$C$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> sp_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B0z?t(B1, $B0z?t(B2, ...)
</DT>
<DD>    $B%5!<%P$X%3%^%s%I$r=PNO$9$k$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cs_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B0z?t(B1, $B0z?t(B2, ...)
</DT>
<DD>    $B%/%i%$%"%s%H$+$i%3%^%s%I$NF~NO$,$"$C$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cp_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B0z?t(B1, $B0z?t(B2, ...)
</DT>
<DD>    $B%/%i%$%"%s%H$X%3%^%s%I$r=PNO$9$k$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cpss_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B%A%c%s%M%k(B, $B0z?t(B)
</DT>
<DD>    $B%5!<%P$+$i(BPRIVMSG$B$G(BCTCP$B$N%3%^%s%I$NF~NO$,$"$C$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cpsp_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B%A%c%s%M%k(B, $B0z?t(B)
</DT>
<DD>    $B%5!<%P$X(BPRIVMSG$B$G(BCTCP$B$N%3%^%s%I$r=PNO$9$k$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cpcs_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B%A%c%s%M%k(B, $B0z?t(B)
</DT>
<DD>    $B%/%i%$%"%s%H$+$i(BPRIVMSG$B$G(BCTCP$B$N%3%^%s%I$N(B
        $BF~NO$,$"$C$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cpcp_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B%A%c%s%M%k(B, $B0z?t(B)
</DT>
<DD>    $B%/%i%$%"%s%H$X(BPRIVMSG$B$G(BCTCP$B$N%3%^%s%I$r=PNO$9$k$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cnss_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B%A%c%s%M%k(B, $B0z?t(B)
</DT>
<DD>    $B%5!<%P$+$i(BNOTICE$B$G(BCTCP$B$N%3%^%s%I$NF~NO$,$"$C$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cnsp_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B%A%c%s%M%k(B, $B0z?t(B)
</DT>
<DD>    $B%5!<%P$X(BNOTICE$B$G(BCTCP$B$N%3%^%s%I$r=PNO$9$k$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cncs_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B%A%c%s%M%k(B, $B0z?t(B)
</DT>
<DD>    $B%/%i%$%"%s%H$+$i(BNOTICE$B$G(BCTCP$B$N%3%^%s%I$N(B
        $BF~NO$,$"$C$?$H$-$K<B9T$5$l$^$9!#(B
</DD>
<DT> cncp_$B%3%^%s%I(B ($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B%A%c%s%M%k(B, $B0z?t(B)
</DT>
<DD>    $B%/%i%$%"%s%H$X(BNOTICE$B$G(BCTCP$B$N%3%^%s%I$r=PNO$9$k$H$-$K<B9T$5$l$^$9!#(B
</DD>
</DL>

$B$=$l$>$l$N%5%V%k!<%A%s$O<u$1<h$C$?0z?t$rLa$jCM$H$7$FJV$9I,MW$,$"$j$^$9!#(B
$B$3$N$H$-JV$9$b$N$O<u$1<h$C$?0z?t$+$i@hF,$NMWAG$r<h$j=|$$$?$b$N$G$9!#(B
$B0z?t$,(B1$B$D$N%5%V%k!<%A%s$O2?$bJV$9I,MW$O$"$j$^$;$s!#(B
$B0z?t$O%b%8%e!<%k$NCf$GJQ99$7$F$b$+$^$$$^$;$s!#(B
$B$^$?!"$3$N$H$-%3%^%s%I$r6uJ8;zNs$H$7$FJV$9$H!"(B
$B$=$N%a%C%;!<%8$O$=$3$G>CLG$7$^$9!#(B


<HR><H3>$B%Q%C%1!<%8(B</H3>

plum$B$N%b%8%e!<%k$O$=$l$>$l$,(B1$B$D(B1$B$D$N%Q%C%1!<%8$r;}$C$F$$$^$9!#(B
$B$=$l$>$l$,FHN)$7$?%Q%C%1!<%8$r;}$D$3$H$K$h$C$F!"(B
$BJQ?tL>$J$I$,B>$N%Q%C%1!<%8$H=E$J$C$F$bBg>fIW$J$h$&$K$J$C$F$$$^$9!#(B
$B%Q%C%1!<%8L>$O86B'$H$7$F%G%#%l%/%H%jL>$H%U%!%$%kL>$r(B
$B!V(B_$B!W$G$D$J$$$@$b$N$G$9!#(B
$BNc$($P!"!V(Bdir/module.plm$B!W$N%Q%C%1!<%8L>$O!V(Bdir_module$B!W$K$J$j$^$9!#(B
$B%b%8%e!<%k$N%G%#%l%/%H%j$d%U%!%$%kL>$K$O!V(B_$B!W$O;H$o$J$$$h$&$K$7$F2<$5$$!#(B

<BR><BR>

$B3F%b%8%e!<%k$O=i4|2=$7$?$H$-$K!"(B
$BI,$:$=$l$>$l$N%b%8%e!<%k$N%Q%C%1!<%8L>$rJV$5$J$1$l$P$$$1$^$;$s!#(B
$B%Q%C%1!<%8$NL>A0$O!V(B$_$B!W$KF~$l$FJV$7$^$9!#(B
$B$^$?!"%b%8%e!<%k$r8+$d$9$/$9$k$?$a!"%0%m!<%P%k$JJQ?t$N=i4|2=$O(B
$B!V(B$_$B!W$X$NBeF~$NA0$K9T$&$h$&$K$7$F2<$5$$!#(B

</BODY></HTML>
