<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML><HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-2022-JP">
<LINK REV="made" HREF="mailto:hasegawa@agusa.nuie.nagoya-u.ac.jp">
<TITLE>readme</TITLE></HEAD><BODY>


<HR><H3>$B$O$8$a$K(B</H3>

$B$3$N%P!<%8%g%s$+$i!"(Bplum$B$N%I%-%e%a%s%H$O(BHTML
(Hyper Text Markup Language)$B$G=q$/$3$H$K$7$^$7$?!#(B
$B$3$l$O<g$KJ8;z%3!<%I$NLdBj$r2sHr$9$k$?$a$G$9!#(B
OS$B$rLd$o$J$$(Bplum$B$G$OMM!9$J4D6-$G<B9T$9$k$3$H$,$G$-$^$9$,!"(B
$B%I%-%e%a%s%H$O$=$l$>$l$N4D6-$G0[$J$C$?J8;z%3!<%I$G=q$+$J$$$H$$$1$^$;$s!#(B
readme.sj$B!"(Breadme.euc$B!"(Breadme.jis$B$N$h$&$KF1$8FbMF$NJ#?t$N(B
$B%U%!%$%k$rMQ0U$7$F$b$$$$$N$G$9$,!"(B
$B4IM}$9$k$N$bBgJQ$J$N$G$d$a$^$7$?!#(B

<BR><BR>

HTML$B$J$N$G!"EvA3$J$,$i%V%i%&%6$G8+$k$3$H$K$J$k$H;W$$$^$9$,!"(B
$BCf$K$O!"$$$A$$$A%V%i%&%6$J$s$F;H$C$F$i$l$J$$!"$H$$$&?M$bB?$$$H;W$$$^$9!#(B
$B$=$N$?$a!"$9$Y$F$N%I%-%e%a%s%H$O(BHTML$B$rD>@\8+$F$b(B
$B$J$k$Y$/FI$`$3$H$,$G$-$k$h$&$K=q$$$F$"$j$^$9!#(B
$B$?$@$7!"4A;z%3!<%I$O(BJIS$B!"2~9T%3!<%I$O(BLF$B$N$_$H$J$C$F$$$^$9!#(B
$B$3$l$,I=<($G$-$J$$>l9g$O(Bsupport$B%G%#%l%/%H%j$N(B
cnvcode$B$H$$$&%W%m%0%i%`$r;H$C$FJQ49$7$F2<$5$$!#(B

<BR><BR>

$B%b%8%e!<%k$N%I%-%e%a%s%H$O$=$l$>$l$N%b%8%e!<%k<+BN$K=q$+$l$F$$$^$9!#(B
$B%b%8%e!<%k$N%I%-%e%a%s%H$b(BHTML$B$G!"%b%8%e!<%k<+BN$r%V%i%&%6$GI=<($9$k$H(B
$B%b%8%e!<%k$K=q$+$l$?%I%-%e%a%s%H$@$1$,I=<($5$l$k$h$&$K$J$C$F$$$^$9!#(B
$B$?$@$7%b%8%e!<%k$N3HD%;R$O!V(B.plm$B!W$J$N$G!"$=$N$^$^$G$O%V%i%&%6$+$i(B
HTML$B$HG'<1$5$l$^$;$s!#(B

<BR><BR>

Windows$B$r;H$C$F$$$k$J$i!"$3$N%G%#%l%/%H%j$K$"$k(Bplum.reg$B$H$$$&%U%!%$%k$+(B
html.reg$B$H$$$&%U%!%$%k$r%@%V%k%/%j%C%/$7$F2<$5$$!#(B
$B$=$&$9$k$H!V(B.plm$B!W$H$$$&3HD%;R$,(BHTML$B$H$7$FG'<1$5$l$k$h$&$K$J$j$^$9!#(B
plum.reg$B$G$O!V(B.plm$B!W$r(BPLUM$B%b%8%e!<%k$H$7$F!"(B
html.reg$B$G$O!V(B.plm$B!W$r(BHTML$B%I%-%e%a%s%H$H$7$F4XO"IU$1$^$9!#(B

<BR><BR>

$B$^$?!"(BUNIX$B$G$O$3$N%G%#%l%/%H%j$K$"$k(B.mime.types$B$H$$$&%U%!%$%k$r(B
$B%[!<%`%G%#%l%/%H%j$K%3%T!<(B($B$9$G$K(B.mime.types$B$,B8:_$9$k>l9g$O$=$l$KDI2C(B)
$B$7$F2<$5$$!#$3$l$G>/$J$/$H$b(BNetscape Navigator$B$G$O!V(B.plm$B!W$,(BHTML
$B$H$7$FG'<1$5$l$k$h$&$K$J$j$^$9!#(B


<HR><H3>$B%U%!%$%k(B</H3>

plum$B$KIUB0$7$F$$$k%U%!%$%k$N0lMw$G$9!#(B

<DL>
<DT>  plum
</DT><DD>  plum$BK\BN$G$9!#(B
</DD>
<DT>  plum-default.conf
</DT><DD>  plum$B$N%G%U%)%k%H$N@_Dj%U%!%$%k$G$9!#(B
</DD>
<DT>  plum-example.conf
</DT><DD>  $B@_Dj%U%!%$%k$N=q$-J}$NNc$G$9!#(B
</DD>
<DT>  plum-dump.conf
</DT><DD>  $B%7%9%F%`>pJsI=<(MQ$N@_Dj%U%!%$%k$G$9!#(B
</DD>
<DT>  doc/
</DT><DD>
<DL><DT>  readme.html
    </DT><DD>  $B$3$N%U%!%$%k$G$9!#(B
    </DD>
    <DT><A HREF="plum.html">
          plum.html
</A></DT><DD>  plum$B$K$D$$$F$N2r@b$G$9!#(B
    </DD>
    <DT><A HREF="conf.html">
          conf.html
</A></DT><DD>  $B@_Dj%U%!%$%k$N=q$-J}$J$I$N2r@b$G$9!#(B
    </DD>
    <DT><A HREF="module.html">
          module.html
</A></DT><DD>  plum$B$N%b%8%e!<%k$N2r@b$G$9!#(B
    </DD>
    <DT><A HREF="history.html">
          history.html
</A></DT><DD>  plum$B$NMzNr$G$9!#(B
    </DD>
    <DT><A HREF="program.html">
          program.html
</A></DT><DD>  $B%b%8%e!<%k$N:n$jJ}$J$I$N2r@b$G$9!#(B
    </DD>
    <DT><A HREF="varsub.html">
          varsub.html
</A></DT><DD>  $B%b%8%e!<%k$GMxMQ$G$-$kJQ?t$d%5%V%k!<%A%s$N2r@b$G$9!#(B
    </DD>
    <DT><A HREF="tutorial.html">
          tutorial.html
</A></DT><DD>  $B<B:]$K%b%8%e!<%k$r:n$j$J$,$i2r@b$r9T$$$^$9!#(B
    </DD>
    <DT>  plum.reg
    </DT><DD>  Windows$B$G3HD%;R!V(B.plm$B!W$r(BHTML$B$HG'<1$5$;$k%l%8%9%H%j$N@_Dj$G$9!#(B
    </DD>
    <DT> html.reg
    </DT><DD>  Windows$B$G3HD%;R!V(B.plm$B!W$r(BHTML$B$HG'<1$5$;$k%l%8%9%H%j$N@_Dj$G$9!#(B
    </DD>
    <DT> .mime.types
    </DT><DD>  Netscape Navigator$B$G!V(B.plm$B!W$r(BHTML$B$HG'<1$5$;$k(BMIME$B$N@_Dj$G$9!#(B
    </DD>
    </DL>
</DD>
<DT>  module/
</DT><DD>  plum$B$N%b%8%e!<%k$,$"$j$^$9!#(B
</DD>
<DT>  support/
</DT><DD>  plum$B$N%G%P%C%0$d%I%-%e%a%s%H:n@.$N$?$a$K:n$C$?%D!<%k$J$I$,$"$j$^$9!#(B
</DD>
</DL>


<HR><H3>$BG[I[>l=j(B</H3>

plum$B$N:G?7%P!<%8%g%s$O0J2<$N$H$3$m$+$iF~<j$9$k$3$H$,$G$-$^$9!#(B

<UL>
<LI><A HREF="ftp://ftp.eds.ecip.nagoya-u.ac.jp/pub/net/irc/pirc/plum/">
             ftp://ftp.eds.ecip.nagoya-u.ac.jp/pub/net/irc/pirc/plum/
</A></LI>
<LI><A HREF="ftp://ftp.madoka.org/pub/plum">
             ftp://ftp.madoka.org/pub/plum
</A></LI>
</UL>

perl$B$O0J2<$N$H$3$m$+$iF~<j$9$k$3$H$,$G$-$^$9!#(B

<UL>
<LI><A HREF="ftp://ftp.lab.kdd.co.jp/pub/lang/CPAN/">
             ftp://ftp.lab.kdd.co.jp/pub/lang/CPAN/
    </A></LI>
<LI><A HREF="ftp://ftp.mei.co.jp/free/Languages/perl/CPAN/">
             ftp://ftp.mei.co.jp/free/Languages/perl/CPAN/
    </A></LI>
<LI><A HREF="ftp://ftp.win.or.jp/pub/lang/CPAN/">
             ftp://ftp.win.or.jp/pub/lang/CPAN/
    </A></LI>
<LI><A HREF="ftp://ftp.chiba-u.ac.jp/pub/lang/CPAN/">
             ftp://ftp.chiba-u.ac.jp/pub/lang/CPAN/
    </A></LI>
<LI><A HREF="ftp://ftp.jaist.ac.jp/pub/lang/perl/CPAN/">
             ftp://ftp.jaist.ac.jp/pub/lang/perl/CPAN/
    </A></LI>
<LI><A HREF="ftp://ftp.eos.hokudai.ac.jp/pub/CPAN">
             ftp://ftp.eos.hokudai.ac.jp/pub/CPAN/
    </A></LI>
<LI><A HREF="ftp://ftp.hipecs.hokudai.ac.jp/pub/LANG/perl/CPAN/">
             ftp://ftp.hipecs.hokudai.ac.jp/pub/LANG/perl/CPAN/
    </A></LI>
<LI><A HREF="ftp://ftp.ccs.dendai.ac.jp/pub/lang/perl/CPAN/">
             ftp://ftp.ccs.dendai.ac.jp/pub/lang/perl/CPAN/
    </A></LI>
<LI><A HREF="ftp://ftp.st.ryukoku.ac.jp/pub/lang/perl/CPAN/">
             ftp://ftp.st.ryukoku.ac.jp/pub/lang/perl/CPAN/
    </A></LI>
<LI><A HREF="ftp://ftp.riken.go.jp/pub/lang/perl/CPAN/">
             ftp://ftp.riken.go.jp/pub/lang/perl/CPAN/
    </A></LI>
</UL>

IRC$B%/%i%$%"%s%H$O0J2<$N$H$3$m$+$iF~<j$9$k$3$H$,$G$-$^$9!#(B

<H4>Windows 95/98/NT</H4>

<UL>
<LI><A HREF="http://www.chocoa.org/">
    CHOCOA
</A></LI>
<LI>
    IRCW
</LI><LI><A HREF="http://www.microsoft.com/windows/ie_intl/ja/chat/">
    Microsoft Chat
</A></LI>
<LI><A HREF="http://okazakis.ke.yama.sut.ac.jp/%7Eramsy/">
    MultiChat
</A></LI>
<LI><A HREF="http://www.aplabs.co.jp/%7Emuri/">
    MuriChat
</A></LI>
<LI><A HREF="http://www.mirc.co.uk/">
    mIRC
</A></LI>
<LI>
    TakIRC
</LI>
<LI>
    Torochat
</LI>
<LI><A HREF="http://www.kinet.or.jp/naka/tomo/Soft.html">
    WoolChat
</A></LI>
</UL>

<H4>Windows CE</H4>

<UL>
<LI><A HREF="http://www.kinet.or.jp/naka/tomo/Soft.html">
    irCE
</A></LI>
</UL>

<H4>Macintosh</H4>

<UL>
<LI><A HREF="http://www.ircle.com/">
    ircle
</A></LI>
<LI><A HREF="http://www.pp.iij4u.or.jp/%7Etagami/macintosh/IRcat/index.html">
    IRcat
</A></LI>
<LI><A HREF="http://www02.so-net.ne.jp/%7Efkaneko/macoa/index.html">
    Macoa
</A></LI>
</UL>

<H4>UNIX</H4>

<UL>
<LI>
    irc
</LI>
<LI>
    ircII
</LI>
</UL>

<H4>Emacs/Mule</H4>

<UL>
<LI><A HREF="ftp://ftp.kyoto.wide.ad.jp/IRC/irchat/">
    irchat-jp
</A></LI>
<LI><A HREF="http://www.fan.gr.jp/%7Esimm/irchat/">
    irchat-PJ
</A></LI>
</UL>

<H4>Tcl/Tk</H4>

<UL>
<LI><A HREF="http://catless.ncl.ac.uk/programs/Zircon/">
    zircon
</A></LI>
</UL>


<HR><H3>$BO"Mm@h(B</H3>

plum$B$N;H$$J}$d@_Dj$,$h$/$o$+$i$J$$!"F0:n$,$*$+$7$$!"(B
$B?7$7$$5!G=$d%b%8%e!<%k$rDI2C$7$F$[$7$$!"(B
$B$J$I$J$I(Bplum$B$K$D$$$F$N<ALd$dMWK>$O(Bplum$B%a!<%j%s%0%j%9%H$G<u$1IU$1$^$9!#(B
$B%a!<%j%s%0%j%9%H$XEPO?$r4uK>$5$l$kJ}$O!"K\J8$K(B
<PRE>
# subscribe
</PRE>
$B$H=q$$$?%a!<%k$r0J2<$N%"%I%l%9$XAw$C$F2<$5$$!#(B

<ADDRESS>
<A HREF="mailto:plum-ctl@madoka.org">
                plum-ctl@madoka.org
</A>
</ADDRESS>

$B%a!<%j%s%0%j%9%H$X$NEj9F$O0J2<$N%"%I%l%9$XAw$C$F2<$5$$!#(B

<ADDRESS>
<A HREF="mailto:plum@madoka.org">
                plum@madoka.org
</A>
</ADDRESS>

plum$B%a!<%j%s%0%j%9%H$K$D$$$F$N<ALd$J$I$O0J2<$^$G$*4j$$$7$^$9!#(B

<ADDRESS>
<A HREF="mailto:plum-admin@madoka.org">
                plum-admin@madoka.org
</A>
</ADDRESS>

</BODY></HTML>
