<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML><HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-2022-JP">
<LINK REV="made" HREF="mailto:hasegawa@agusa.nuie.nagoya-u.ac.jp">
<TITLE>tutorial</TITLE></HEAD><BODY>


<HR><H3>$B%A%e!<%H%j%"%k(B</H3>

$B8@MU$G@bL@$9$k$h$j!"<B:]$K4JC1$J%b%8%e!<%k$r;H$C$F$_$k$N$,(B
$B$o$+$j$d$9$$$H;W$$$^$9!#(B
plum$B$N%b%8%e!<%k$r:n$k<j=g$O$@$$$?$$0J2<$N$h$&$K$J$j$^$9!#(B

<OL>
<LI>$B$I$s$J$3$H$r$9$k%b%8%e!<%k$+$r7h$a$k!#(B
</LI>
<LI>$B%b%8%e!<%kL>$H$=$l$r$*$/%G%#%l%/%H%j$r7h$a$k!#(B
</LI>
<LI>$B%b%8%e!<%k$G;XDj$9$k%W%m%Q%F%#$r7h$a$k!#(B
</LI>
<LI>$B%G%U%)%k%H$NF0:n$J$I$r9M$($F=i4|2=ItJ,$r:n$k!#(B
</LI>
<LI>$B<B:]$K=hM}$r9T$&%5%V%k!<%A%s$r:n$k!#(B
</LI>
</OL>

$B$=$l$G$O<B:]$K4JC1$J%b%8%e!<%k$r:n$C$F$_$^$9!#(B


<HR><H3>$B%b%8%e!<%k$NF0:n(B</H3>

$B$^$:$I$s$JF0:n$r9T$&$+$r9M$($^$9!#(B
$B:#2s$O4JC1$JNc$H$7$F!"$"$kFCDj$N8@MU$,H/8@$5$l$?$H$-$K!"(B
$B$=$l$KBP1~$9$kH/8@$rJV$9$H$$$&%b%8%e!<%k$K$7$^$9!#(B
$B$^$?!"=hM}$r4JC1$K$9$k$?$a$K!"H/8@$O40A4$K0lCW$7$?>l9g$K$N$_(B
$BH?1~$9$k$h$&$K$7$^$9!#(B


<HR><H3>$B%b%8%e!<%kL>(B</H3>

$B<!$K!"%b%8%e!<%k$NL>A0$r9M$($^$9!#(B
$B<+F0E*$KJV;v$rJV$9$H$$$&0UL#$G!"!V(Banswer.plm$B!W$H$$$&L>A0$K$7$^$9!#(B
$B$3$l$r$I$3$N%G%#%l%/%H%j$K$*$/$+$G$9$,!"(B
$B<+F0E*$K=hM}$r9T$&$H$$$&0UL#$G(Bauto$B%G%#%l%/%H%j$K$*$/$3$H$K$7$^$9!#(B
$B$3$l$G%b%8%e!<%kL>$O!V(Bauto/answer.plm$B!W$H$$$&$3$H$K$J$j$^$9(B


<HR><H3>$B%W%m%Q%F%#(B</H3>

$B<!$O%b%8%e!<%k$K$I$s$J%W%m%Q%F%#$,;XDj$G$-$k$+$r7h$a$^$9!#(B
$B$"$kH/8@$KBP$7$F!"BP1~$9$kH/8@$rJV$9$o$1$J$N$G!"(B
$B$=$l$>$l$NH/8@$r%W%m%Q%F%#$G@_Dj$G$-$k$h$&$K$7$^$9!#(B
$B<B:]$K$I$N$h$&$J=hM}$r9T$&$+$K$h$C$F%W%m%Q%F%#$N?t$bFbMF$bJQ$o$C$F$-$^$9!#(B
$BNc$($P!"H?1~$9$kH/8@$r!V(Bauto.answer.message$B!W$G;XDj$7(B
$B$=$l$KBP$9$kH/8@$r!V(Bauto.answer.reply$B!W$G;XDj$9$k$H$$$&J}K!$,$"$j$^$9!#(B
$B$7$+$7$3$l$G$OH?1~$9$kH/8@$,(B1$B<oN`$7$+;XDj$G$-$^$;$s!#(B
$B$=$3$G!"%W%m%Q%F%#$O!V(Bauto.answer.reply$B!W$@$1$K$7!"(B
$BH?1~$9$kH/8@$H!"$=$l$KBP$9$kJV;v$r6uGr$G6h@Z$C$F;XDj$G$-$k$h$&$K$7$^$9!#(B
$B$3$N>l9g!"6uGr$r4^$`H/8@$KH?1~$9$k$3$H$,$G$-$^$;$s$,!"(B
$B$=$N$h$&$J$3$H$O$=$l$[$I$J$$$H9M$($FL5;k$7$^$9!#(B


<HR><H3>$B=i4|2=ItJ,(B</H3>

$B<!$K%b%8%e!<%k$N=i4|2=ItJ,$r:n$j$^$9!#(B
$B$^$:!"%b%8%e!<%k$N%Q%C%1!<%8L>$O!V(Bauto_answer$B!W$K$J$j$^$9!#(B
$B<!$K%W%m%Q%F%#$r;XDj$7$J$+$C$?$H$-$N%G%U%)%k%H$NF0:n$r9M$($F!"(B
$B%0%m!<%P%kJQ?t$r@_Dj$7$^$9$,!"(B
$B$3$N%b%8%e!<%k$G$O%W%m%Q%F%#$r@_Dj$7$J$+$C$?$H$-$O2?$b$7$J$$$3$H$K$7$^$9!#(B
$B$3$l$r<B:]$K:n$C$F$_$k$H0J2<$N$h$&$K$J$j$^$9!#(B
<PRE>
    package auto_answer;
    $_ = 'auto_answer';
</PRE>

$B$3$l$G=i4|2=ItJ,$O40@.$G$9!#$3$l$@$1$G$O2?$b$7$^$;$s$,!"(B
plum$B$K%b%8%e!<%k$H$7$FAH$_9~$`$3$H$b2DG=$G$9!#(B


<HR><H3>$B%5%V%k!<%A%s(B</H3>

$B$=$l$G$O<B:]$N=hM}$r9T$&%5%V%k!<%A%s$r:n$j$^$9!#(B
$B$^$:!"$I$N%$%Y%s%HBP$9$k=hM}$r9T$($P$$$$$+$r9M$($^$9!#(B
$B$3$N%b%8%e!<%k$,<B9T$5$l$k$N$O!"$"$kFCDj$N8@MU$,H/8@$5$l$?$H$-$G$9!#(B
$B$H$j$"$($:!"(Bplum$B$,<B9T$9$k%5%V%k!<%A%s$NCf$+$iE,Ev$J$b$N$rA*$S$^$9!#(B
$BH/8@$H$$$&$N$O<B:]$K$O(BPRIVMSG$B$H$$$&%3%^%s%I$,%5!<%P$+$i(B
$BAw$i$l$F$/$k$3$H$r8@$$$^$9!#(B
$B$=$3$G!"!V(Bss_privmsg$B!W$H$$$&%5%V%k!<%A%s$r:n$l$P$$$$$3$H$,$o$+$j$^$9!#(B
$B$H$j$"$($:%5%V%k!<%A%s$@$1$r:n$j$^$9!#(B

<PRE>
    package auto_answer;
    $_ = 'auto_answer';

    sub ss_privmsg {
      local($serverno, $prefix, $cmd, $chan, $msg) = @_;
      # $B$^$@:n$C$F$J$$ItJ,(B
      return ($prefix, $cmd, $chan, $msg);
    }
</PRE>

$B%5%V%k!<%A%s$N0z?t$H$7$FEO$5$l$k$b$N$O!"%5!<%P$N%U%!%$%k(BNO$B!"(B
$BH/8@<T$N%W%l%U%#%/%9!"%3%^%s%I!"H/8@$7$?%A%c%s%M%k!"%a%C%;!<%8$N(B5$B$D$G$9!#(B
$BLa$jCM$H$7$FJV$9$b$N$O8e$m$N(B4$B$D$G$9!#(B

<BR><BR>

$B<!$K!"H/8@$,%W%m%Q%F%#$G;XDj$5$l$?$b$N$+$I$&$+$rD4$Y$kItJ,$r:n$j$^$9!#(B
$B%W%m%Q%F%#L>$O!V(Bauto.answer.reply$B!W$K$7$?$N$G!"(B
$B$=$NCM$HH/8@$,Ey$7$$$+$I$&$+$rD4$Y$^$9!#(B
$B$^$?!"%W%m%Q%F%#$OJ#?t@_Dj$G$-$k$h$&$K$7$?$N$G!"(B
1$B$D$NH/8@$K$D$$$F$9$Y$F$N%W%m%Q%F%#$H$NHf3S$,I,MW$K$J$j$^$9!#(B

<PRE>
    package auto_answer;
    $_ = 'auto_answer';

    sub ss_privmsg {
      local($serverno, $prefix, $cmd, $chan, $msg) = @_;
      local($userno);
      $userno = $'userno[$serverno];
      foreach $reply (&'property($userno, 'reply')) {
        # $B$^$@:n$C$F$J$$ItJ,(B
      }
      return ($prefix, $cmd, $chan, $msg);
    }
</PRE>

&'property$B$O0z?t$H$7$F%f!<%6(BNO$B$,I,MW$J$N$G!"(B$'userno[]$B$H$$$&G[NsJQ?t$G(B
$B$3$NH/8@$,$I$N%f!<%6$KB0$9$k$b$N$+$rD4$Y$F$$$^$9!#(B
$B$^$?!"%5%V%k!<%A%sFb$G;HMQ$9$kJQ?t$OI,$:(Blocal$B$r:n$C$F!"(B
$BB>$N%5%V%k!<%A%s$+$i8+$($J$$$h$&$K$7$F2<$5$$!#(B

<BR><BR>

$B%W%m%Q%F%#$O6uGr$G6h@Z$C$F!"H/8@$H$=$l$KBP$9$kJV;v$r=q$/$h$&$K$7$^$7$?!#(B
$B$=$3$G!"$=$l$>$l$N%W%m%Q%F%#$r6uGr$G6h@Z$C$F!"(B
$BH/8@$H0lCW$9$k$+$I$&$+$rHf3S$7$^$9!#(B

<PRE>
    package auto_answer;
    $_ = 'auto_answer';

    sub ss_privmsg {
      local($serverno, $prefix, $cmd, $chan, $msg) = @_;
      local($userno, $str, $answer);
      $userno = $'userno[$serverno];
      foreach $reply (&'property($userno, 'reply')) {
        ($str, $answer) = split(/\s+/, $reply, 2);
        if ($msg eq $str) {
          # $B$^$@:n$C$F$J$$ItJ,(B
        }
      }
      return ($prefix, $cmd, $chan, $msg);
    }
</PRE>

<BR><BR>

$B$3$3$^$GMh$l$P$"$H>/$7$G$9!#$"$H$OBP1~$9$kJV;v$r$9$k$@$1$G$9!#(B
$BJV;v$OH/8@$N$"$C$?%A%c%s%M%k$K$9$l$P$$$$$N$G$9$,!"(B
$B>/$7LdBj$,$"$C$F!"<+J,$"$F$N%W%i%$%Y!<%H$JH/8@$N>l9g$O!"(B
$chan$B$K$O%A%c%s%M%kL>$NJQ$o$j$K<+J,$N%K%C%/%M!<%`$,F~$C$F$$$^$9!#(B
$B$=$3$G!"H/8@$,%A%c%s%M%k$KBP$7$F$N$b$N$J$N$+!"(B
$B<+J,$KBP$9$k$b$N$J$N$+$r6hJL$9$kI,MW$,$"$j$^$9!#(B
$B%A%c%s%M%kL>$OF,$KI,$:!V(B#$B!W!"!V(B&$B!W!"!V(B+$B!W!"!V(B-$B!W$N$I$l$+$,$D$/$N$G!"(B
$B$=$&$G$J$$$b$N$OL5;k$7$^$9!#(B

<PRE>
    package auto_answer;
    $_ = 'auto_answer';

    sub ss_privmsg {
      local($serverno, $prefix, $cmd, $chan, $msg) = @_;
      local($userno, $str, $answer);
      $userno = $'userno[$serverno];
      if ($chan =~ /^[\#\&\+\-]/) {
        foreach $reply (&'property($userno, 'reply')) {
          ($str, $answer) = split(/\s+/, $reply, 2);
          if ($msg eq $str) {
            &'s_print($serverno, '', 'PRIVMSG', $chan, $answer);
            last;
          }
        }
      }
      return ($prefix, $cmd, $chan, $msg);
    }
</PRE>

$BJV;v$O%5!<%P$KBP$7$F9T$o$J$1$l$P$J$j$^$;$s!#(B
$B$3$N>l9g$OH/8@$,$5$l$?%5!<%P$,$o$+$C$F$$$k$N$G!"(B
$BJV;v$b$=$N%5!<%P$KBP$7$F9T$$$^$9!#(B

<BR><BR>

$B$3$l$G$H$j$"$($:40@.$G$9!#$3$N%b%8%e!<%k$r;HMQ$9$k$?$a$K$O(B
plum.conf$B$K0J2<$N$h$&$K@_Dj$7$^$9!#(B
<PRE>
+ auto/answer.plm
auto.answer.reply: $B$3$s$K$A$O(B $B$3$s$K$A$O!A!y(B
</PRE>
$B$3$l$GC/$+$,!V$3$s$K$A$O!W$HH/8@$9$k$H!"!V$3$s$K$A$O!A!y!W$HJV;v$r$7$^$9!#(B

<BR><BR>

auto/answer.plm$B$H$$$&%U%!%$%k$O$9$G$KB8:_$7$F$$$^$9$,!"(B
$B$3$N%b%8%e!<%k$O<B:]$K$3$N%A%e!<%H%j%"%k$r=q$-$J$,$i:n$C$?$b$N$G$9!#(B
$B$3$3$G:n$C$?$b$N$h$jB?>/5!G=$,A}$($F$$$^$9$,!"(B
$B$"$kDxEY$o$+$C$F$7$^$($P%b%8%e!<%k$N2~B$$b4JC1$G$9!#(B

</BODY></HTML>
