<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<HTML><HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=ISO-2022-JP">
<LINK REV="made" HREF="mailto:hasegawa@agusa.nuie.nagoya-u.ac.jp">
<TITLE>variable and subroutine</TITLE></HEAD><BODY>


<HR><H3>$BJQ?t$H%5%V%k!<%A%s(B</H3>

$B%b%8%e!<%k$+$i(Bplum$B$N>pJs$rCN$k$?$a$K!"$$$/$D$+$NJQ?t$r;2>H$9$k$3$H$,$G$-$^$9!#(B
$B$^$?!"%b%8%e!<%k$N3+H/$rMF0W$K$9$k$?$a$K!"(B
$B$$$/$D$+$N%5%V%k!<%A%s$,MQ0U$5$l$F$$$^$9!#(B
$B$3$l$i$NJQ?t$d%5%V%k!<%A%s$OA4$F(Bmain$B%Q%C%1!<%8$K$"$j$^$9!#(B
main$B%Q%C%1!<%80J30$K$"$kJQ?t$d%5%V%k!<%A%s$O;HMQ$7$F$O$$$1$^$;$s!#(B


<HR><H3>$B%b%8%e!<%k$+$i;2>H$G$-$kJQ?t(B</H3>

$B%b%8%e!<%k$+$i;2>H$G$-$kJQ?t$K$O0J2<$N$h$&$J$b$N$,$"$j$^$9!#(B
$BJQ?tL>$N:G8e$K(Blist$B$,IU$$$F$$$k$b$N$O!"%9%+%i$K%Q%C%/$5$l$?%j%9%H$G$9!#(B
$B$3$l$i$O$=$l$>$l$NMWAG$r!"4V$K%;%Q%l!<%?$r$O$5$s$G$D$J$2$?$b$N$G$9!#(B
$B$^$?%j%9%H$N@hF,$K$b%;%Q%l!<%?$,IU2C$5$l$F$$$^$9!#(B
$B$?$@$76u$N%j%9%H$O6uJ8;zNs$HF1$8$G$9!#(B
$B%j%9%H$K$O=EJ#$7$?CM$r3JG<$9$k$3$H$O$G$-$^$;$s!#(B

<BR><BR>

plum$B$NFbIt$G$O<g$K%f!<%6(BNO$B$H%U%!%$%k(BNO$B$G%G!<%?$r4IM}$7$F$$$^$9!#(B
$B%f!<%6(BNO$B$O(Bplum$B$,FI$_9~$s$@@_Dj%U%!%$%k$KBP1~$7$F$*$j!"(B
$B@_Dj%U%!%$%k$r(B3$B$DFI$_9~$`$H!"(B0,1,2$B$N(B3$B$D$N%f!<%6(BNO$B$,$=$l$>$l3d$jEv$F$i$l$^$9!#(B
$B$3$l$i$O$=$l$>$lJL!9$N(BIRC$B%M%C%H%o!<%/$K@\B3$5$l$F$$$k2DG=@-$,$"$k$?$a!"(B
$B$=$l$>$l$N%f!<%6(BNO$B$GJQ?t$NCM$bJL!9$K4IM}$7$F$$$^$9!#(B
$B$^$?!"%U%!%$%k(BNO$B$O(Bplum$B$,3+$$$?%=%1%C%H$N%U%!%$%k%O%s%I%k$HBP1~$7$F$$$^$9!#(B
$B$3$l$O(Bfileno($B%U%!%$%k%O%s%I%k(B)$B$GF@$i$l$kCM$G$9!#(B

<H4>$B%9%+%iJQ?t(B</H4>

<DL>
<DT>  $'rin
</DT>
<DD>    $BF~NO%U%!%$%k%O%s%I%k$N%^%9%/$G$9!#(B
        $B%U%!%$%kHV9f$KBP1~$9$k%S%C%H$r(B1$B$K$7$^$9!#(B
</DD>
<DT>  $'win
</DT>
<DD>    $B=PNO%U%!%$%k%O%s%I%k$N%^%9%/$G$9!#(B
        $B%U%!%$%kHV9f$KBP1~$9$k%S%C%H$r(B1$B$K$7$^$9!#(B
</DD>
<DT>  $'rout
</DT>
<DD>    $BF~NO$N=`Hw$,$G$-$F$$$k%U%!%$%k%O%s%I%k$N%^%9%/(B
        $B%U%!%$%kHV9f$KBP1~$9$k%S%C%H$,(B1$B$K$J$j$^$9!#(B
</DD>
<DT>  $'wout
</DT>
<DD>    $B=PNO$N=`Hw$,$G$-$F$$$k%U%!%$%k%O%s%I%k$N%^%9%/(B
        $B%U%!%$%kHV9f$KBP1~$9$k%S%C%H$,(B1$B$K$J$j$^$9!#(B
</DD>
<DT>  $'serverlist
</DT>
<DD>    $BA4$F$N%5!<%P$N%U%!%$%k(BNO$B$N%j%9%H$G$9!#(B
</DD>
<DT>  $'clientlist
</DT>
<DD>    $BA4$F$N%/%i%$%"%s%H$N%U%!%$%k(BNO$B$N%j%9%H$G$9!#(B
</DD>
<DT>  $'listenlist
</DT>
<DD>    $BA4$F$N@\B3BT$A$N%=%1%C%H$N%U%!%$%k(BNO$B$N%j%9%H$G$9!#(B
</DD>
<DT>  $'kanjilist
</DT>
<DD>    $B4A;z$G$N@55,I=8=$r%5%]!<%H$7$F$$$k4A;z%3!<%I$N%j%9%H$G$9!#(B
</DD>
</DL>

<H4>$BG[NsJQ?t(B</H4>

<DL>
<DT>  $'username[$B%f!<%6(BNO]
</DT>
<DD>    $B$=$l$>$l$N%f!<%6$N%f!<%6L>$G$9!#%f!<%6L>$O(Bplum$B$N<B9T;~$K(B
        $B;XDj$7$?0z?t$G!"(BIRC$B>e$G$N%f!<%6L>$H$O0l@Z4X78$"$j$^$;$s!#(B
</DD>
<DT>  $'filename[$B%f!<%6(BNO]
</DT>
<DD>    $B$=$l$>$l$N%f!<%6$N@_Dj%U%!%$%k$N%U%!%$%kL>$G$9!#(B
</DD>
<DT>  $'modulelist[$B%f!<%6(BNO]
</DT>
<DD>    $B$=$l$>$l$N%f!<%6$,AH$_9~$s$G$$$k%b%8%e!<%k$N%j%9%H$G$9!#(B
        $B%j%9%H$NMWAG$O%b%8%e!<%k$N%Q%C%1!<%8L>$G$9!#(B
</DD>
<DT>  $'server[$B%U%!%$%k(BNO]
</DT>
<DD>    $B$=$l$>$l$N%U%!%$%k(BNO$B$KBP1~$9$k%5!<%P$N%U%!%$%k(BNO$B$G$9!#(B
        $B%5!<%P$K@\B3$7$F$$$J$$;~$NCM$OITDj$G$9!#(B
</DD>
<DT>  $'channellist[$B%U%!%$%k(BNO]
</DT>
<DD>    $B$=$l$>$l$N%U%!%$%k(BNO$B$G8=:_F~$C$F$$$k%A%c%s%M%k$N%j%9%H$G$9!#(B
</DD>
<DT>  $'userno[$B%U%!%$%k(BNO]
</DT>
<DD>    $B$=$l$>$l$N%U%!%$%k(BNO$B$,B0$9$k%f!<%6(BNO$B$G$9!#(B
        $B4pK\E*$K$=$l$>$l$N%U%!%$%k(BNO$B$O$I$l$+$N%f!<%6(BNO$B$KB0$7$F$$$^$9$,!"(B
        $B=i4|A0$N%/%i%$%"%s%H$N%U%!%$%k(BNO$B$O$I$N%f!<%6(BNO$B$K$bB0$7$^$;$s!#(B
</DD>
<DT>  $'servername[$B%U%!%$%k(BNO]
</DT>
<DD>    $B$=$l$>$l$N%U%!%$%k(BNO$B$KBP1~$9$k%5!<%P$NL>A0$G$9!#(B
        $B%5!<%PL>$O%5!<%P$,Aw$C$F$/$kL>A0$G!"(B
        $BI,$:$7$b%^%7%sL>$H0lCW$9$k$H$O8B$j$^$;$s!#(B
</DD>
<DT>  $'socket[$B%U%!%$%k(BNO]
</DT>
<DD>    $B%U%!%$%k(BNO$B$KBP1~$9$k%U%!%$%k%O%s%I%kL>$G$9!#(B
</DD>
<DT>  $'avail[$B%U%!%$%k(BNO]
</DT>
<DD>    $B$=$l$>$l$N%U%!%$%k(BNO$B$K$D$$$F!"=i4|2=$,=*$o$C$F$$$k$+$I$&$+$N(B
        $BO@M}CM$G$9!#=i4|2=$,=*$o$C$F$$$l$P??(B(1)$B!"$=$&$G$J$1$l$P56(B(0)$B$G$9!#(B
        $B%U%!%$%k(BNO$B$,%/%i%$%"%s%H$N$b$N$J$i$P!"%/%i%$%"%s%H$+$i@5$7$$(B
        $B%Q%9%o!<%I$H%K%C%/%M!<%`$H%f!<%6L>$r<u$1<h$k$H(B1$B$K$J$j$^$9!#(B
        $B$^$?!"%U%!%$%k(BNO$B$,%5!<%P$N$b$N$J$i$P!"%5!<%P$K@5$7$$%Q%9%o!<%I$H(B
        $B%K%C%/%M!<%`$H%f!<%6L>$rAw$k$H(B1$B$K$J$j$^$9!#(B
</DD>
<DT>  $'nick[$B%U%!%$%k(BNO]
</DT>
<DD>    $B$=$l$>$l$N%U%!%$%k(BNO$B$G$N%K%C%/%M!<%`$G$9!#(B
</DD>
<DT>  $'user[$B%U%!%$%k(BNO]
</DT>
<DD>    $B$=$l$>$l$N%U%!%$%k(BNO$B$G$N%f!<%6L>$G$9!#(B
        $B$3$N%f!<%6L>$O(B$'username[$B%f!<%6(BNO]$B$NCM$H$OA4$/4X78$J$/!"(B
        IRC$B>e$G$N%f!<%6L>$G$9!#(B
</DD>
<DT>  $'access[$B%U%!%$%k(BNO]
</DT>
<DD>    $B$=$l$>$l$N%U%!%$%k(BNO$B$N:G8e$KF~NO$N$"$C$?;~4V$G$9!#(B
        $B$3$N;~4V$O(Btime()$B$GJV$5$l$kCM$HF1$8$b$N$G!"(B
        $B%/%i%$%"%s%H$d%5!<%P$@$1$G$J$/!"$9$Y$F$N%=%1%C%H(B
        $B%U%!%$%k%O%s%I%k$KBP$7$F@5$7$$CM$r;}$C$F$$$^$9!#(B
</DD>
</DL>

<H4>$B%O%C%7%eJQ?t(B</H4>

<DL>
<DT>  $'filename{$B%Q%C%1!<%8L>(B}
</DT>
<DD>    $B%Q%C%1!<%8L>$KBP1~$9$k%b%8%e!<%k$N%U%!%$%kL>$G$9!#(B
</DD>
<DT>  $'dirctory{$B%Q%C%1!<%8L>(B}
</DT>
<DD>    $B%Q%C%1!<%8L>$KBP1~$9$k%b%8%e!<%k$,B8:_$9$k%G%#%l%/%H%j$G$9!#(B
</DD>
<DT>  $'package{$B%U%!%$%kL>(B}
</DT>
<DD>    $B%b%8%e!<%k$N%U%!%$%kL>$KBP1~$9$k%Q%C%1!<%8L>$G$9!#(B
</DD>
<DT>  $'labellist{$B%f!<%6(BNO, $B%Q%C%1!<%8L>(B}
</DT>
<DD>    $B$=$l$>$l$N%Q%C%1!<%8$KBP1~$9$k%i%Y%k$N%j%9%H$G$9!#(B
</DD>
<DT>  $'nameslist{$B%U%!%$%k(BNO, $B%A%c%s%M%kL>(B}
</DT>
<DD>    $B$=$l$>$l$N%A%c%s%M%k$KF~$C$F$$$k%K%C%/%M!<%`$N%j%9%H$G$9!#(B
        $B%K%C%/%M!<%`$K$O%*%Z%l!<%?$d%b%G%l!<%?$N5-9f$r4^$_$^$9!#(B
        $B%A%c%s%M%k$K!"!V(Bpupu$B!W!"!V(Bplum$B!W$H$$$&(B2$B?M$N?M$,F~$C$F$*$j!"(B
        pupu$B$,%A%c%s%M%k%*%Z%l!<%?$N>l9g!"$3$l$O(B
        $B!V(B@pupu$B!W$H!V(Bplum$B!W$H$$$&MWAG$r4^$`%j%9%H$K$J$j$^$9!#(B
</DD>
<DT>  $'channelmode{$B%U%!%$%k(BNO, $B%A%c%s%M%kL>(B, $B%b!<%I(B}
</DT>
<DD>    $B$=$l$>$l$N%A%c%s%M%k$K@_Dj$5$l$F$$$k%A%c%s%M%k%b!<%I$G$9!#(B
        $BCM$r;}$D%b!<%I$J$i$=$NCM$,!"$=$l0J30$N%b!<%I$K$D$$$F$O(B
        $B@_Dj$5$l$F$$$l$P(B1$B$K$J$j$^$9!#(B
</DD>
<DT>  $'topic{$B%U%!%$%k(BNO, $B%A%c%s%M%kL>(B}
</DT>
<DD>    $B$=$l$>$l$N%A%c%s%M%k$K@_Dj$5$l$F$$$k%H%T%C%/$NCM$G$9!#(B
</DD>
</DL>


<HR><H3>$B%b%8%e!<%k$+$iMxMQ$G$-$k%5%V%k!<%A%s(B</H3>

$B%b%8%e!<%k$+$iMxMQ$G$-$k%5%V%k!<%A%s$K$O0J2<$N$h$&$J$b$N$,$"$j$^$9!#(B

<H4>$B%7%9%F%`>uBV<hF@(B</H4>

<DL>
<DT>  &'property($B%f!<%6(BNO, $B%W%m%Q%F%#L>(B) : $B%W%m%Q%F%#CM(B
</DT>
<DD>    $B@_Dj%U%!%$%k$G@_Dj$5$l$F$$$k%W%m%Q%F%#$NCM$r;2>H$7$^$9!#(B
        $B%W%m%Q%F%#L>$K$O%Q%C%1!<%8L>$r4^$_$^$;$s!#(B
        $B$D$^$j!"(Bdir/module.plm$B$G!V(Bkey$B!W$H$$$&%W%m%Q%F%#L>$r;XDj$9$k$H!"(B
        $B@_Dj%U%!%$%kCf$N!V(Bdir.module.key$B!W$NCM$,F@$i$l$^$9!#(B
        $B$^$?%5%V%k!<%A%s$r%9%+%i%3%s%F%-%9%H$GI>2A$9$k$H!"(B
        $B:G=i$K@_Dj$7$?%W%m%Q%F%#$NCM$rF@$i$l$^$9!#(B
        $BG[Ns%3%s%F%-%9%H$GI>2A$9$k$H!"A4$F$N@_Dj$,F@$i$l$^$9!#(B
</DD>
<DT>  &'load($B%f!<%6L>(B,  $B%U%!%$%kL>(B)
</DT>
<DD>    $B%f!<%6L>$KBP1~$9$k@_Dj%U%!%$%k$rFI$_9~$_$^$9!#(B
        $B$3$N%5%V%k!<%A%s$O$J$k$Y$/;HMQ$7$J$$$G2<$5$$!#(B
</DD>
<DT>  &'import($B%f!<%6(BNO,$B%U%!%$%kL>(B)
</DT>
<DD>    $B;XDj$7$?%b%8%e!<%k$rFI$_9~$_$^$9!#(B
        $B%b%8%e!<%k$N=i4|2=$O9T$o$l$^$9$,!"AH$_9~$_$O9T$o$l$^$;$s!#(B
        $B$3$N%5%V%k!<%A%s$O$J$k$Y$/;HMQ$7$J$$$G2<$5$$!#(B
</DD>
</DL>

<H4>$BJ8;zNsJQ49(B</H4>

<DL>
<DT>  &'prefix($B%W%l%U%#%/%9(B) : ($B%K%C%/%M!<%`(B, $B%f!<%6L>(B, $B%[%9%HL>(B)
</DT>
<DD>    $B%W%l%U%#%/%9$rJ,2r$7$F%K%C%/%M!<%`!"%f!<%6L>!"(B
        $B%[%9%HL>$NG[Ns$rF@$^$9!#(B
</DD>
<DT>  &'regex($B%o%$%k%I%+!<%I(B) : $B@55,I=8=(B
</DT>
<DD>    $B%o%$%k%I%+!<%I$NJ8;zNs$r@55,I=8=$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
<DT>  &'expand($B%U%!%$%kL>(B) : $B%U%!%$%kL>(B
</DT>
<DD>    ~$B$G;O$^$k%Q%9$r<B:]$N%Q%9$KJQ49$7$^$9!#(B
        $B!V(B~/$B!W$O4D6-JQ?t(BHOME$B$NCM$KCV$-49$($^$9!#(B
        $B!V(B~user$B!W$O(Buser$B$N%[!<%`%G%#%l%/%H%j$NCM$KCV$-49$($^$9!#(B
</DD>
<DT>  &'timelocal($BIC(B, $BJ,(B, $B;~(B, $BF|(B, $B7n(B, $BG/(B) : $BIC(B
</DT>
<DD>    localtime$B$H5U$NF0:n$r$7$^$9!#(B
</DD>
<DT>  &'date($B%U%)!<%^%C%H(B, $B;~4V(B) : $BJ8;zNs(B
</DT>
<DD>    $B%U%)!<%^%C%H$K=>$C$FF|IU$d;~4V$rE83+$7$^$9!#(B
        $B0z?t$H$7$F;~4V$r;XDj$9$k$H!"$=$N;~4V$H$7$FE83+$7!"(B
        $B;XDj$7$J$+$C$?>l9g$O8=:_$N;~4V$H$7$FE83+$7$^$9!#(B
</DD>
<DT>  &'format($B%U%)!<%^%C%H(B, $B%O%C%7%e(B)
</DT>
<DD>    $B%U%)!<%^%C%H$K=>$C$F%O%C%7%e$N%G!<%?$rE83+$7$^$9!#(B
</DD>
<DT>  &'real($B%A%c%s%M%kL>(B) : $B%A%c%s%M%kL>(B
</DT>
<DD>    $B%(%$%j%"%9$N%A%c%s%M%kL>$+$i<B:]$N%A%c%s%M%kL>$rF@$^$9!#(B
        $B%(%$%j%"%9$O(B%$B$G;O$^$k%A%c%s%M%kL>$G$9!#(B
</DD>
<DT>  &'alias($B%A%c%s%M%kL>(B) : $B%A%c%s%M%kL>(B
</DT>
<DD>    $B<B:]$N%A%c%s%M%kL>$+$i%(%$%j%"%9$N%A%c%s%M%kL>$rF@$^$9!#(B
</DD>
<DT>  &'channel($BJ8;zNs(B) : $BO@M}CM(B
</DT>
<DD>    $BJ8;zNs$,%A%c%s%M%kL>$J$i$,??$r!"$=$&$G$J$1$l$P56$rJV$7$^$9!#(B
</DD>
<DT>  &'parse($B%a%C%;!<%8(B) : ($B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B0z?t(B1, $B0z?t(B2, ...)
</DT>
<DD>    IRC$B$N%a%C%;!<%8$r2r@O$7$F!"(Bplum$B$NFbIt$G;HMQ$9$kG[Ns$KJQ49$7$^$9!#(B
        $B$3$N%5%V%k!<%A%s$O$J$k$Y$/;HMQ$7$J$$$G2<$5$$!#(B
</DD>
<DT>  &'build($B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B0z?t(B1, $B0z?t(B2, ...) : $B%a%C%;!<%8(B
</DT>
<DD>    plum$B$NFbIt$G;HMQ$7$F$$$kG[Ns$r%5!<%P$d%/%i%$%"%s%H$K(B
        $BAw$k$3$H$,$G$-$k%a%C%;!<%8$KJQ49$7$^$9!#(B
        $B$3$N%5%V%k!<%A%s$O$J$k$Y$/;HMQ$7$J$$$G2<$5$$!#(B
</DD>
</DL>

<H4>$B%j%9%HA`:n(B</H4>

<DL>
<DT>  &'list($BMWAG(B1, $BMWAG(B2, ...) : $B%j%9%H(B
</DT>
<DD>    $BG[Ns$+$i%j%9%H$r@8@.$7$^$9!#(B
</DD>
<DT>  &'add($B%j%9%H(B, $BMWAG(B1, $BMWAG(B2, ...) : $B%j%9%H(B
</DT>
<DD>    $B%j%9%H$K;XDj$7$?MWAG$rDI2C$7$^$9!#(B
</DD>
<DT>  &'remove($B%j%9%H(B, $BMWAG(B1, $BMWAG(B2, ...) : $B%j%9%H(B
</DT>
<DD>    $B%j%9%H$+$i;XDj$7$?MWAG$r<h$j=|$-$^$9!#(B
</DD>
<DT>  &'change($B%j%9%H(B, $BMWAG(B1, $BMWAG(B2, $BMWAG(B3, $BMWAG(B4, ...) : $B%j%9%H(B
</DT>
<DD>    $B%j%9%H$NMWAG$rJQ99$7$^$9!#(B
        $BMWAG(B1$B$OMWAG(B2$B$KJQ99$5$l!"MWAG(B3$B$OMWAG(B4$B$KJQ99$5$l$^$9!#(B
        $BMWAG$N?t$,4q?t$N$H$-$O!":G8e$NMWAG$K$D$$$F$OL5;k$5$l$^$9!#(B
</DD>
<DT>  &'exist($B%j%9%H(B, $BMWAG(B1, $BMWAG(B2, ...) : $BO@M}CM(B
</DT>
<DD>    $B%j%9%H$K;XDj$5$l$?MWAG$,4^$^$l$F$$$k$+$I$&$+$rJV$7$^$9!#(B
        $BJ#?t$NMWAG$r;XDj$7$?$H$-$O!"(B
        $B$=$N$&$A$N$I$l$+(B1$B$D$G$b4^$^$l$F$$$l$P??$K$J$j$^$9!#(B
</DD>
<DT>  &'array($B%j%9%H(B) : $BG[Ns(B
</DT>
<DD>    $B%j%9%H$+$iG[Ns$r@8@.$7$^$9!#(B
</DD>
</DL>

<H4>$B4A;z%3!<%IJQ49(B</H4>

<DL>
<DT>  &'euc_euc(EUC$BJ8;zNs(B) : EUC$BJ8;zNs(B
</DT>
<DD>    EUC$B%3!<%I$NJ8;zNs$r(BEUC$B%3!<%I$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
<DT>  &'euc_jis(EUC$BJ8;zNs(B) : JIS$BJ8;zNs(B
</DT>
<DD>    EUC$B%3!<%I$NJ8;zNs$r(BJIS$B%3!<%I$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
<DT>  &'euc_sjis(EUC$BJ8;zNs(B) : SJIS$BJ8;zNs(B
</DT>
<DD>    EUC$B%3!<%I$NJ8;zNs$r(BSJIS$B%3!<%I$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
<DT>  &'jis_euc(JIS$BJ8;zNs(B) : EUC$BJ8;zNs(B
</DT>
<DD>    JIS$B%3!<%I$NJ8;zNs$r(BEUC$B%3!<%I$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
<DT>  &'jis_jis(JIS$BJ8;zNs(B) : JIS$BJ8;zNs(B
</DT>
<DD>    JIS$B%3!<%I$NJ8;zNs$r(BISO-2022-JP$B$G5,Dj$5$l$F$$$k(B
        JIS$B%3!<%I$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
<DT>  &'jis_sjis(JIS$BJ8;zNs(B) : SJIS$BJ8;zNs(B
</DT>
<DD>    JIS$B%3!<%I$NJ8;zNs$r(BEUC$B%3!<%I$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
<DT>  &'sjis_euc(SJIS$BJ8;zNs(B) : EUC$BJ8;zNs(B
</DT>
<DD>    SJIS$B%3!<%I$NJ8;zNs$r(BEUC$B%3!<%I$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
<DT>  &'sjis_jis(SJIS$BJ8;zNs(B) : JIS$BJ8;zNs(B
</DT>
<DD>    SJIS$B%3!<%I$NJ8;zNs$r(BJIS$B%3!<%I$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
<DT>  &'sjis_sjis(SJIS$BJ8;zNs(B) : SJIS$BJ8;zNs(B
</DT>
<DD>    SJIS$B%3!<%I$NJ8;zNs$r(BSJIS$B%3!<%I$NJ8;zNs$KJQ49$7$^$9!#(B
</DD>
</DL>

<H4>$B%5!<%PF~=PNO(B</H4>

<DL>
<DT>  &'s_print($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B0z?t(B1, $B0z?t(B2, ...)
</DT>
<DD>    $B%5!<%P$K%a%C%;!<%8$rAw$j$^$9!#(B
        $B%W%l%U%#%/%9$OI,MW$,$J$1$l$P;XDj$7$J$$$G2<$5$$!#(B
</DD>
<DT>  &'s_flush($B%U%!%$%k(BNO)
</DT>
<DD>    $B%5!<%P$N=PNO%P%C%U%!$K$?$^$C$F$$$k%a%C%;!<%8$rA4$F%5!<%P$KAw$j$^$9!#(B
</DD>
<DT>  &'s_connect($B%f!<%6(BNO)
</DT>
<DD>    $B%5!<%P$X@\B3$7$^$9!#(B
</DD>
<DT>  &'s_close($B%U%!%$%k(BNO)
</DT>
<DD>    $B;XDj$7$?%5!<%P$X$N@\B3$rJD$8$^$9!#(B
</DD>
</DL>

<H4>$B%/%i%$%"%s%HF~=PNO(B</H4>

<DL>
<DT>  &'c_print($B%U%!%$%k(BNO, $B%W%l%U%#%/%9(B, $B%3%^%s%I(B, $B0z?t(B1, $B0z?t(B2, ...)
</DT>
<DD>    $B%/%i%$%"%s%H$K%a%C%;!<$XAw$j$^$9!#(B
</DD>
<DT>  &'c_flush($B%U%!%$%k(BNO)
</DT>
<DD>    $B%/%i%$%"%s%H$N=PNO%P%C%U%!$K$?$^$C$F$$$k%a%C%;!<%8$r(B
        $BA4$F%/%i%$%"%s%H$KAw$j$^$9!#(B
</DD>
<DT>  &'c_close($B%U%!%$%k(BNO)
</DT>
<DD>    $B;XDj$7$?%/%i%$%"%s%H$H$N@\B3$rJD$8$^$9!#(B
</DD>
</DL>

<H4>$B%M%C%H%o!<%/A`:n(B</H4>

<DL>
<DT>  &'connect($B%5!<%PL>(B, $B%]!<%HHV9f(B) : $B%U%!%$%k(BNO
</DT>
<DD>    $B;XDj$7$?%5!<%P$N;XDj$7$?%]!<%H$X@\B3$7$^$9!#(B
</DD>
<DT>  &'listen($B%]!<%HHV9f(B) : $B%U%!%$%k(BNO
</DT>
<DD>    $B;XDj$7$?%]!<%H$G%/%i%$%"%s%H$+$i$N@\B3$r<u$1$D$1$^$9!#(B
</DD>
<DT>  &'accept($B%U%!%$%k(BNO) : $B%U%!%$%k(BNO
</DT>
<DD>    $B;XDj$7$?%U%!%$%k(BNO$B$N%]!<%H$K@\B3$7$F$-$?%/%i%$%"%s%H$r@\B3$7$^$9!#(B
</DD>
<DT>  &'close($B%U%!%$%k(BNO)
</DT>
<DD>    $B;XDj$7$?%U%!%$%k(BNO$B$H$N@\B3$rJD$8$^$9!#(B
</DD>
<DT>  &'sockname($B%U%!%$%k(BNO) : ($B%]!<%HHV9f(B, IP$B%"%I%l%9(B, $B%[%9%HL>(B)
</DT>
<DD>    $B;XDj$7$?%U%!%$%k(BNO$B$N%=%1%C%H$N$3$A$iB&$N>pJs$rF@$^$9!#(B
        $B%]!<%HHV9f!"(BIP$B%"%I%l%9$OId9f$J$7$N@0?t$G$9!#(B
        IP$B%"%I%l%9$+$i%[%9%HL>$,F@$i$l$J$$>l9g!"%[%9%HL>$O6u$K$J$j$^$9!#(B
</DD>
<DT>  &'peername($B%U%!%$%k(BNO) : ($B%]!<%HHV9f(B, IP$B%"%I%l%9(B, $B%[%9%HL>(B)
</DT>
<DD>    $B;XDj$7$?%U%!%$%k(BNO$B$N%=%1%C%H$NAj<jB&$N>pJs$rF@$^$9!#(B
        $B%]!<%HHV9f!"(BIP$B%"%I%l%9$OId9f$J$7$N@0?t$G$9!#(B
        IP$B%"%I%l%9$+$i%[%9%HL>$,F@$i$l$J$$>l9g!"%[%9%HL>$O6u$K$J$j$^$9!#(B
</DD>
<DT>  &'user($B%U%!%$%k(BNO) : $B%W%l%U%#%/%9(B
</DT>
<DD>    $B;XDj$7$?%U%!%$%k(BNO$B$G$N%W%l%U%#%/%9$rF@$^$9!#(B
</DD>
</DL>

</BODY></HTML>
